
<div class="artister-row">
{% for post in posts %}
  <a href="{{ post.url }}" class="artister-row__link">
    {% if post.featureImage|length %}
      {% set image = post.featureImage.one() %}
      <div>
        <img src="{{ image.getUrl({ width: 400, height: 400}) }}"
            alt="{{ image.title }}"
            class="artister-row__image"
        />
      </div>
    {% endif %}
    <span class="artister-row__title">{{ post.title }}</span>
  </a>
{% endfor %}
</div>
</div>