<section class="artister">  
      <div class="artister__text-box">
      <h2 class="artister__heading"><span class="u-color-accent">Artister </span>2021</h2>
      <p class="u-padding-top-2 u-padding-bottom-4 u-w-pc-70">Hvert år kommer noen av de beste og mest talentfulle artistene til Vill Vill Vest. Artister for 2022 slippes fra mai 2022. under finner du et utvalg av artistene som spilte på Vill Vill Vest 2021. Klikk deg inn og finn en ny favoritt! Vi oppdaterer fortløpende med nye artister frem mot festivalen.</p> 
      </div>
        {% set posts = craft.entries().section('artister').all() %}

            {% include "_includes/artister-row" with { posts: posts } only %}
      </section>

<section class="artister-mobile-section">
    <div class="artister__text-box">
        <h2 class="artister__heading artister-mobile__heading"><span class="u-color-accent">Artister </span>2021</h2>
        <p class="artister-mobile__paragraph">Hvert år kommer noen av de beste og mest talentfulle artistene til Vill Vill Vest. Artister for 2022 slippes fra mai 2022. under finner du et utvalg av artistene som spilte på Vill Vill Vest 2021. Klikk deg inn og finn en ny favoritt! Vi oppdaterer fortløpende med nye artister frem mot festivalen.</p> 
    </div>
    {% set posts = craft.entries().section('artister').limit(4) %}

    {% include "_includes/artister-row-mobile" with { posts: posts } only %}
</section>