<a href="{{ url('festivalapp') }}" class="covid-banner__link">
    <div class="covid-banner">
        <p>Last ned vår <span class="covid-banner__highlight">festivalapp</span> for fullt program og oversikt over alle aktiviteter</p>
    </div>
</a>