<a href="{{ url('smittevern') }}" class="covid-banner__link">
    <div class="covid-banner">
        <p><span class="covid-banner__highlight">Covid-19</span> Klikk her for spørsmål og svar om hurtigtesting og smittevern</p>
    </div>
</a>