<footer class="footer page-content">
    <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="{{ url('personvern') }}">Personvernerklæring</a></li>
        <li class="footer__item"><a class="footer__link" href="{{ url('partnere') }}">Samarbeidspartnere</a></li>
    </ul>
    <ul class="footer__list">
        <li class="footer__item"><a class="footer__link" href="{{ url('kontakt-oss') }}">Kontakt oss</a></li>
        <li class="footer__item"><a class="footer__link" href="{{ url('faq') }}">FAQ</a></li>
    </ul>
    <div class="footer__social">
        <a class="footer__link footer__link--social" href="https://www.facebook.com/villvillvest"><span class="fab fa-facebook-f"></span></a>
        <a class="footer__link footer__link--social"  href="https://www.instagram.com/villvillvest"><span class="fab fa-instagram"></span></a>
        <a class="footer__link footer__link--social"  href="https://www.youtube.com/channel/UCbXfGYyZiD6rux0bGge26UA"><span class="fab fa-youtube"></span></a>
    </div>
</footer>