<section class="konferanse">  
      <div class="konferanse__text-box">
      <h2 class="konferanse__heading"><span class="u-color-accent">Konferanse</span></h2>
      <p class="u-padding-top-2 u-padding-bottom-4 u-w-pc-70">Vill Vill Vest og Brak har gleden av å invitere til den sjette utgaven av Vill Vill Vest Musikkonferanse. Konferansen arrangeres 9.- 10. september 2021, i tillegg til sosialt program lørdag 11. september.<br><br>
      Meld deg på vårt nyhetsbrev for slipp og informasjon om konferanse og foredragsholdere. Programmet slippes i bolker.</p> 
      </div>
        {# {% set posts = craft.entries().section('konferanse').all() %}

            {% include "_includes/konferanse-row" with { posts: posts } only %} #}
      </section>

<section class="konferanse-mobile-section">

        <h2 class="konferanse__heading"><span class="u-color-accent">Konferanse</span></h2>
        <p class="konferanse-mobile__paragraph">Vill Vill Vest og Brak har gleden av å invitere til den sjette utgaven av Vill Vill Vest Musikkonferanse. Konferansen arrangeres 9.- 10. september 2021, i tillegg til sosialt program lørdag 11. september.<br><br>
        Meld deg på vårt nyhetsbrev for slipp og informasjon om konferanse og foredragsholdere. Programmet slippes i bolker.</p>
         

    {# {% set posts = craft.entries().section('konferanse').limit(4) %}

    {% include "_includes/konferanse-row-mobile" with { posts: posts } only %} #}
</section>