

<nav class="navigation">
    <div class="navigation__header">
        {% include "_includes/header-dark" %}
    </div>

    <div class="navigation__container">

        <div class="navigation__category">
            <h2 class="navigation__heading">Påmelding</h2>
            <ul class="navigation__list">
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
            </ul>
        </div>

        <div class="navigation__category">
            <h2 class="navigation__heading">Påmelding</h2>
            <ul class="navigation__list">
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
                <li class="navigation__item" href="#"><a href="#">Link</a></li>
            </ul>
        </div>

        <div class="navigation__category">
            <h2 class="navigation__heading">Påmelding</h2>
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#">Link</a></li>
                <li class="navigation__item"><a href="#">Link</a></li>
                <li class="navigation__item"><a href="#">Link</a></li>
                <li class="navigation__item"><a href="#">Link</a></li>
                <li class="navigation__item"><a href="#">Link</a></li>
                <li class="navigation__item"><a href="#">Link</a></li>
                <li class="navigation__item"><a href="#">Link</a></li>
            </ul>
        </div>
    <div>

</nav>