<section class="venues page-content">
      <h2 class="venues__heading"><span class="u-color-accent">Vill Vill Vest</span> Scener</h2>
      <p class="u-padding-top-2 u-padding-bottom-2 u-w-pc-70">En veldig viktig del av Vill Vill Vest er samarbeidet med alle de flotte scenene og kulturaktørene i Bergen. De åpner opp dørene så vi sammen kan sette opp et flott show for deg. Får du “samlet” alle scenene i løpet av festivalen?</p>
      <div id="glider-3" class="glider-contain">
        <div id="gliderVenues" class="glider">

            <div class="venues__slide">
                <iframe width="560" height="615" src="https://www.youtube.com/embed/SbH-7ROhnVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Hulen</h2>
                    <p class="venues__slide-paragraph">Hulen er en unik konsertscene som har huset legendariske band siden åpningen i 1968. Konsertstedet drives av studenter og er kjent som Nord-Europas eldste rockeklubb!<br><br>
                    Hulen gleder seg til å endelig ta imot musikere og publikum under årets festival.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Olaf Ryes vei 48</p>
                    <a href="https://www.hulen.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="615" src="https://www.youtube.com/embed/Ao1A-P7e1dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Landmark</h2>
                    <p class="venues__slide-paragraph">Landmark i Bergen Kunsthall har blitt et sentralt møtested for byens skapende miljøer. Her drives en av Norges fremste arenaer for samtidskunst og en av Bergens beste kaféer. På Kveldstid kan du oppleve unike intimkonserter, debatter, foredrag og tettpakkede klubbkvelder.<br><br>
                    Vi gleder oss til konserter og klubb på Landmark under Vill Vill Vest 2021.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Rasmus Meyers allé 5</p>
                    <a href="https://landmarkbergen.no/" target="_blank"  class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="615" src="https://www.youtube.com/embed/cMsvoYy9gSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Østre</h2>
                    <p class="venues__slide-paragraph">Østre presenterer store internasjonale navn innen elektronisk musikk, hvor bl.a Floating Points, Dj Harvey, Bjarki og Nina Kraviz har spilt i det lille trehuset nære Skostredet.<br><br>
                    Vi gleder oss til et program med alt fra kaotisk klubbmusikk, eterisk elektropopp til atmosfærisk ambiens på Østre under Vill Vill Vest 2021.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Østre Skostredet 3</p>
                    <a href="https://www.oestre.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="615" src="https://www.youtube.com/embed/CXByY2TpvTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Kvarteret</h2>
                    <p class="venues__slide-paragraph">
                    Det Akademiske Kvarter er studentenes kulturhus i Bergen, men også en viktig konsertarena for Vill Vill Vest. Også i 2021 vil både Teglverket og Tivoli være sentrale scener under festivalen. <br><br>
                    Visste du for eksempel at Sigrid holdt sin første offisielle konsert på Kvarteret under Vill Vill Vest 2016?</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Olav Kyrres gate 49</p>
                    <a href="https://kvarteret.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>

            <div class="venues__slide">
                {% set image = venue.venueImage1.one %}
                    {% if image|length %}
                    <img src="{{ image.url({ width: 800 }) }}" alt="Illustration">
                    {% endif %}
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Apollon</h2>
                    <p class="venues__slide-paragraph">
                    Rock'n roll siden 1976.Apollon er en av landets eldste plateforretninger. Spesialiteter er klassisk rock, folk, psykedelia, indie og metal.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Nygårdsgaten 2A</p>
                    <a href="https://apollon.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>

            <div class="venues__slide">
                {% set image = venue.venueImage2.one %}
                    {% if image|length %}
                    <img src="{{ image.url({ width: 800 }) }}" alt="Illustration">
                    {% endif %}
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Kulturhuset</h2>
                    <p class="venues__slide-paragraph">
                    Kulturhuset i Bergen ligger i Vaskerelven 8, og vil være et åpent, inkluderende og levende hus som skal romme noe for alle.<br><br>
                    Kulturhuset skal være åpent fra tidlig morgen til sent på kvelden og fylles med innhold gjennom døgnet</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Vaskerelven 8</p>
                    <a href="https://www.facebook.com/Kulturhusetibergen/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>

            <div class="venues__slide">
                {% set image = venue.venueImage3.one %}
                    {% if image|length %}
                    <img src="{{ image.url({ width: 800 }) }}" alt="Illustration">
                    {% endif %}
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Victoria</h2>
                    <p class="venues__slide-paragraph">
                    Bergens egen lille store Victoria Pub og Café. Her finner du gode folk, mat mat, og nydelig musikk.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Kong Oscars gate 29</p>
                    <a href="https://www.facebook.com/profile.php?id=100063848581500" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
                </div>
            </div>
      

      </div>
      <div class="venues__slide-nav">
        <button aria-label="Previous" id="venuesPrev" class="glider-prev"><span class="fas fa-chevron-left"></button>
        <div role="tablist" id="venuesDots" class="dots"></div>
        <button aria-label="Next" id="venuesNext" class="glider-next"><span class="fas fa-chevron-right"></button>
      </div>
      </div>
      </section>

      <section class="venues-mobile">
        <h2 class="venues__heading"><span class="u-color-accent">Vill Vill Vest</span> Scener</h2>
        <p class="venues__paragraph">En veldig viktig del av Vill Vill Vest er samarbeidet med alle de flotte scenene og kulturaktørene i Bergen. De åpner opp dørene så vi sammen kan sette opp et flott show for deg. Får du “samlet” alle scenene i løpet av festivalen?</p>

        <div class="venues-mobile__card">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/SbH-7ROhnVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Hulen</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Hulen er en unik konsertscene som har huset legendariske band siden åpningen i 1968. Konsertstedet drives av studenter og er kjent som Nord-Europas eldste rockeklubb!<br><br>
                Hulen gleder seg til å endelig ta imot musikere og publikum under årets festival.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Olaf Ryes vei 48</p>
                <a href="https://www.hulen.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
            </div>
        </div>
        <div class="venues-mobile__card u-padding-top-2">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/Ao1A-P7e1dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Landmark</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Landmark i Bergen Kunsthall har blitt et sentralt møtested for byens skapende miljøer. Her drives en av Norges fremste arenaer for samtidskunst og en av Bergens beste kaféer. På Kveldstid kan du oppleve unike intimkonserter, debatter, foredrag og tettpakkede klubbkvelder.<br><br>
                Vi gleder oss til konserter og klubb på Landmark under Vill Vill Vest 2021.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Rasmus Meyers allé 5</p>
                <a href="https://landmarkbergen.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
            </div>
            </div>
        </div>
        <div class="venues-mobile__card u-padding-top-2">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/cMsvoYy9gSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Østre</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Østre presenterer store internasjonale navn innen elektronisk musikk, hvor bl.a Floating Points, Dj Harvey, Bjarki og Nina Kraviz har spilt i det lille trehuset nære Skostredet.<br><br>
                Vi gleder oss til et program med alt fra kaotisk klubbmusikk, eterisk elektropopp til atmosfærisk ambiens på Østre under Vill Vill Vest 2021.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Østre Skostredet 3</p>
                <a href="https://www.oestre.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
            </div>
        </div>
        <div class="venues-mobile__card u-padding-top-2">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/CXByY2TpvTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Kvarteret</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Olav Kyrres gate 49</p>
                <a href="https://kvarteret.no/" target="_blank" class="venues__slide-button">Besøk <span>&rarr;</span></a>
            </div>
        </div>
        </div>
      </section>