<section class="venues page-content">
      <h2 class="venues__heading"><span class="u-color-accent">Vill Vill Vest</span> Scener</h2>
      <p class="u-padding-top-2 u-padding-bottom-2 u-w-pc-70">En veldig viktig del av Vill Vill Vest er samarbeidet med alle de flotte scenene og kulturaktørene i Bergen. De åpner opp dørene så vi sammen kan sette opp et flott show for deg. Får du “samlet” alle scenene i løpet av festivalen?</p>
      <div id="glider-3" class="glider-contain">
        <div id="gliderVenues" class="glider">

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SbH-7ROhnVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Hulen</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Ao1A-P7e1dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Landmark</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cMsvoYy9gSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Østre</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>

            <div class="venues__slide">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CXByY2TpvTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues__slide-text">
                    <h2 class="venues__slide-heading">Kvarteret</h2>
                    <p class="venues__slide-paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                    <p class="venues__slide-paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                    <a href="#" class="venues__slide-button">Besøk</a>
                </div>
            </div>
      

      </div>
      <div class="venues__slide-nav">
        <button aria-label="Previous" id="venuesPrev" class="glider-prev"><span class="fas fa-chevron-left"></button>
        <div role="tablist" id="venuesDots" class="dots"></div>
        <button aria-label="Next" id="venuesNext" class="glider-next"><span class="fas fa-chevron-right"></button>
      </div>
      </div>
      </section>

      <section class="venues-mobile">
        <h2 class="venues__heading"><span class="u-color-accent">Vill Vill Vest</span> Scener</h2>
        <p class="venues__paragraph">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>

        <div class="venues-mobile__card">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/SbH-7ROhnVM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Hulen</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
        </div>
        <div class="venues-mobile__card u-padding-top-2">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/Ao1A-P7e1dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Landmark</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
            </div>
        </div>
        <div class="venues-mobile__card u-padding-top-2">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/cMsvoYy9gSE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Østre</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
        </div>
        <div class="venues-mobile__card u-padding-top-2">
            <div class="venues-mobile__iframe">
                <iframe src="https://www.youtube.com/embed/CXByY2TpvTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="venues-mobile__text">
                <h2 class="venues-mobile__heading u-padding-top-2">Kvarteret</h2>
                <p class="venues-mobile__paragraph u-padding-top-2">Bad news. Andy Griffith turned us down. He didn't like his trailer. Really? Did nothing cancel? We just call it a sausage. That's what it said on 'Ask Jeeves.' I've opened a door here that I regret. It's a hug, Michael. I'm hugging you.</p>
                <p class="venues-mobile__paragraph venues__slide-paragraph--address">Christian Michelsens gate 4</p>
                <a href="#" class="venues__slide-button">Besøk</a>
            </div>
        </div>
        </div>
      </section>