<section class="welcome">  
    <h2 class="artister__heading"><span class="u-color-accent">Vill Vill Vest </span>2022</h2>
    <p class="u-padding-top-2 u-padding-bottom-4 u-w-pc-70">Vi inviterer deg til å ta del i den syvende utgaven av Vill Vill Vest. 1.- 3. september skal 60 av de beste og mest interessante nye norske artistene spille på musikalske strenger og hjertestrenger på Bergens kjente og kjære scener. Sikre deg din billett nå.</p> 
</section>