/** Margins & Paddings **/
.u-padding-bottom-2 {
    padding-bottom: 2rem;
}

.u-padding-bottom-4 {
    padding-bottom: 4rem;
}

/** Text **/
.u-center {
    text-align: center;
}

.u-bold {
    font-weight: bold;
}

.u-color-accent {
    color: #741CBF;
}

.u-header-offset {
    padding-top: 15vh;
}
