{% extends "_layout" %}

{% set posts = craft.entries().section('konferanse').relatedTo(category).all() %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

  <h1 class="heading--section page-content u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Konferanse</span> {{ category.title }}
  </h1>
  <p class="paragraph page-content u-w-pc-70 u-padding-bottom-4">I'm half machine. I'm a monster. Across from where? Army had half a day. There's so many poorly chosen words in that sentence. There's so many poorly chosen words in that sentence.</p>

  {% include "_includes/listing" with { posts: posts } only %}
{% endblock %}