{% extends "_layout" %}

{% set posts = craft.entries().section('konferanse').relatedTo(category).all() %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

  <h1 class="heading--section page-content u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Konferanse</span> {{ category.title }}
  </h1>
  <p class="paragraph page-content u-w-pc-70 u-padding-bottom-4">Vill Vill Vest og Brak har gleden av å invitere til Vill Vill Vest Musikkonferanse 9.- 10. september 2021, i tillegg til sosialt program lørdag 11. september. Konferansen arrangeres på <a target="_blank" href="https://www.facebook.com/Kulturhusetibergen/">Kulturhuset</a> i Bergen, i Vaskerelven 8.<br><br>
  Hovedtema for 2021: Music:ID<br>
  Musikk kan føles privat og personlig, men skaper også tilhørighet og samhold.<br>
  For mange mennesker er musikk en viktig ingrediens i deres identitet.<br>
  Musikk kan være en forlengelse av deg selv, og kan uttrykke hvem du er. Eller ønsker å være.
  Gjennom historien har musikk gitt en stemme til underrepresenterte grupper og vært brukt som virkemiddel i protester og revolusjoner.<br><br>
  Vill Vill Vest musikkonferanse 2021 vil belyse en rekke tema relatert til musikk og identitet. 
  Hvordan brukes musikk i markedsføring og som politisk virkemiddel?<br>
  Kan artistutvikling gå på bekostning av artisten sitt genuine uttrykk og identitet?
  Har artisten gått fra å være rebell til å bli kreativ entreprenør?</p>

  <section class="program-nav page-content u-padding-bottom-4">
    <a href="{{ url('konferanse/category/2021') }}" class="program-link">Speakers</a>
    <a href="{{ url('konferanse-program') }}" class="program-link">Program</a>
  </section>

  {% include "_includes/listing" with { posts: posts } only %}
{% endblock %}