.tickets {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 60%;

    &__heading {
        padding-bottom: 2rem;
        font-size: 3rem;
    }

    &__paragraph {
    
        font-size: 1.6rem;
    }

    &__button {
        color: #fff;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        background: #741CBF;
        padding: 1.5rem 4rem;
        border: none;
        border-radius:  var(--border-radius-small);
        transition: all .2s ease-in;
        cursor: pointer;

        & span {
            margin-left: 1rem;
            transition: all .3s ease-in;
        }

        &:hover {
            background: #9B5ECF;
        }

        &:hover span {
            margin-left: 1.7rem;
        }
    }

}


.ticket-cards {

    margin-top: 6rem;
    padding-left: 5%;
    padding-right: 5%;
    /* padding: 6rem; */
    padding-top: 4rem;

    background: #f5f5f5;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        width: 40rem;
        /* color: #fff; */
        border-radius: 10px;
        box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
        background: #fff;
        position: relative;
        cursor: pointer;
        transition: transform .2s ease-in;

        &:hover {
            transform: translateY(-1rem);
        }
    }

    &__image {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    &__content {
        padding: 3rem;
        position: relative;
    }

    & h3 {
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }

    &__text-box {
        height: 18rem;
    }

    & p {
        font-size: 1.6rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__button {
        margin-top: 2rem;
        display: block;
        width: 100%;
        padding: 1.5rem;
        font-size: 2rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #741CBF;
        border: none;
        border-radius: .4rem;
        cursor: pointer;
        transition: all .2s ease-in;

        & span {
            margin-left: 1rem;
            transition: all .2s ease-in;
        }

        &:hover, &:active {
            background-color: #9B5ECF;
        }

        &:hover span {
            margin-left: 1.7rem;
        }
    }
}





