{% extends "_layout" %}

{% set posts = craft.entries().section('artister').relatedTo(category).all() %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

  <h1 class="heading--section page-content u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Artister</span> {{ category.title }}
  </h1>
  <p class="paragraph page-content u-w-pc-70 u-padding-bottom-4">Hvert år kommer noen av de beste og mest talentfulle artistene til Vill Vill Vest. Klikk deg inn og finn en ny favoritt! Vi oppdaterer fortløpende med nye artister frem mot festivalen.</p>

  {# <section class="program-nav page-content u-padding-bottom-4">
    <a href="{{ url('artister/category/2021') }}" class="program-link">Artister</a>
    <a href="{{ url('program') }}" class="program-link">Program</a>
  </section> #}

  {% include "_includes/listing" with { posts: posts } only %}
{% endblock %}