.artister {

    &__heading {
        font-size: 6rem;
        font-family: 'Oswald', sans-serif;
        color: #333;
    }

    &__paragraph {
        padding-top: 1rem;
        padding-bottom: 4rem;
        font-size: 1.6rem;
        width: 60%;
        font-family: 'Roboto', sans-serif;
    }
}



.artister-row {
    display: flex;
    justify-content: space-between;
    grid-gap: 2rem;

    &__link {
        text-decoration: none;
        background: #F2EDED;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    &__image {
        border-radius:  var(--border-radius-big);
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(.7);
        transition: filter .2s ease-in; 

        &__image:hover {
            filter: brightness(1);
        }
    }

    &__title {
        font-size: 2rem;
        color: #333;
        text-decoration: none;
        font-weight: bold;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
    }

    &__summary {
        padding: 1rem;
        padding-bottom: 2rem;
        font-size: 1.6rem;
        text-align: center;
    }
}



.artister__slide-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    margin: 0 auto;
    margin-top: 2rem;
}

#artisterPrev {
    position: relative;
    background: none;
    color: #555;
}

#artisterNext {
    position: relative;
    background: none;
    color: #555;
}

#artisterDots {
    margin-top: .6rem;
}