.header {
    width: 90%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5%;
    padding-bottom: 1rem;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    position: absolute;
    z-index: 1;

    &__link {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    &__logo {
        font-size: 6rem;
        /* width: 15rem; */
        height: 100%;
        font-weight: 400;
        padding-right: 1rem;
    }

    &__year {
        font-size: 6rem;
        font-family: 'Oswald', sans-serif;
        margin-right: auto;
    }

    &__button {
        /* background: #741CBF;
        color: #fff; */
        color: #741CBF;
        background: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        padding: 1rem 3rem;
        margin-right: 2rem;
        overflow: hidden;
        border-radius:  var(--border-radius-small);
        transition: all .2s ease-in;
    }

    &__button span {
        margin-left: 1.5rem;
        transition: all .3s ease-in;
    }

    &__button:hover {
        /* background: #9B5ECF; */
        opacity: .7;
    }

    &__button:hover span {
        margin-left: 1.9rem;
    }

    &__hamburger-meny {
        display: flex;
        align-items: center;
        grid-column-gap: .5rem;
    }

    &__menu{
        margin-right: 0rem;
        margin-top: -.2rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
    }

    &__burger-line1 {
        width: 30px;
        height: 3px;
        margin: 4px;
        background-color: #fff;
    }

    &__burger-line2 {
        width: 22px;
        height: 3px;
        margin: 4px;
        background-color: #fff;
    }

    &__burger-line3 {
        width: 30px;
        height: 3px;
        margin: 4px;
        background-color: #fff;
    }
}

nav {
    display: flex;
    /*align-items: center;*/
}