{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Artistaktiviteter</h1>
    <p class="u-padding-bottom-2">
    Er du artist på Vill Vill Vest? Vi har snekret sammen et ekstraprogram for at du skal få så mye ut at festivaloppholdet som mulig. Det er begrenset kapasitet, så sørg for å sikre din plass nå! 
    </p>

    <h3>DEMOSESSIONS MED MUSIKKONTORET</h3>
    <p class="u-padding-bottom-2">
        Har du lyst å få tilbakemelding på din musikk? Musikkontoret og Vill Vill Vest har satt sammen et kompetansetungt og musikkelskende panel for å komme med konstruktiv kritikk på dine låter.Yunus Daar (Nora Collective), Anna Nor Sørensen(Urørt, P3) og Malin Pettersen (artist) deler sine tanker og anbefalinger til de utvalgte demoene.
        Demosession foregår på konferansen og alle som har blitt plukket ut til å delta må møte opp.
    </p>
    <a href="https://forms.gle/8wk8furtaA49MUFy9" class="u-padding-bottom-2">
        Meld deg på her
    </a>

    <h3 class="u-padding-top-2">KONTRAKTSJEKK MED GRAMART</h3>
    <p class="u-padding-bottom-2">
        Hvordan sørger du for at du ikke blir utnyttet? Svaret er en god kontrakt! Nå har du mulighet til å ta med din kontrakt og få den sjekket av noen skikkelig profesjonelle folk. I tillegg får du som artist nå en unik mulighet til å melde deg inn i GramArt HELT GRATIS
    </p>
    <a href="#" class="u-padding-bottom-2">LENKE TIL BOOKINGSKJEMA</a>
</section>
{% endblock %}