{% extends "_layout" %}

{% block content %}
    {% include "_includes/header-dark" %}
    {% include "_includes/nav" %}

    <section class="page-content u-w-pc-70">
        <p class="u-padding-bottom-2"><a href="https://brak.wufoo.com/forms/mijgkga0waqz4b/" target="_blank">Tips oss om artister her</a></p>
    </section>

    <section class="page-content u-w-pc-70">
    <div id="wufoo-m1h1udgb1b35mgx"> Fill out my <a href="https://brak.wufoo.com/forms/m1h1udgb1b35mgx">online form</a>. </div> <script type="text/javascript"> var m1h1udgb1b35mgx; (function(d, t) { var s = d.createElement(t), options = { 'userName':'brak', 'formHash':'m1h1udgb1b35mgx', 'autoResize':true, 'height':'1717', 'async':true, 'host':'wufoo.com', 'header':'show', 'ssl':true }; s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js'; s.onload = s.onreadystatechange = function() { var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return; try { m1h1udgb1b35mgx = new WufooForm(); m1h1udgb1b35mgx.initialize(options); m1h1udgb1b35mgx.display(); } catch (e) { } }; var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr); })(document, 'script'); </script>
    </section>
{% endblock %}