{% extends "_layout" %}

{% block content %}
<div class="tickets">  
   <h1 class="tickets__heading">Billetter</h1>
   <p class="tickets__paragraph">Steve Holt! First place chick is hot, but has an attitude, doesn't date magicians. It's called 'taking advantage.' It's what gets you ahead in life. We just call it a sausage. It's called 'taking advantage.' It's what gets you ahead in life.</p>
   <p class="tickets__paragraph u-padding-bottom-4">Whoa, this guy's straight? Marry me. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide. Army had half a day.</p>
   <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2021" class="tickets__button">Kjøp <span>&rarr;</span></a>
</div>


<div class="ticket-cards">
<h2 class="u-center u-padding-bottom-4  heading--section">Hvilken billett skal jeg velge?</h2>
    <div class="ticket-cards__box">
        <div class="ticket-cards__card">
            <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', alt='Snowy Mountains" class="ticket-cards__image">
            <div class="ticket-cards__content">
                <h3>Dagspass</h3>
                <div class="ticket-cards__text-box">
                    <p class="u-bold">Dagspass Torsdag // Fredag 350,-</p>
                    <p class="u-bold">Dagspass Lørdag 450,-</p>
                    <p>First place chick is hot, but has an attitude, doesn't date magicians.</p>
                </div>
                <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2021" class="ticket-cards__button">Kjøp <span>&rarr;</span></a>
            </div>
    </div>

    <div class="ticket-cards__card">
        <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', alt='Snowy Mountains" class="ticket-cards__image">
        <div class="ticket-cards__content">
            <h3>Festivalpass</h3>
            <div class="ticket-cards__text-box">
                <p class="u-bold">Festivalpass: 790,-</p>
                <p class="u-bold">Studentpris: 690,-</p>
                <p>Dette passet gir deg fysisk tilgang til alle konsertene arrangert av Vill Vill Vest på de gitte dagene (torsdag, fredag eller lørdag)</p>
            </div>
            <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2021" class="ticket-cards__button">Kjøp <span>&rarr;</span></a>
        </div>
    </div>

    <div class="ticket-cards__card">
        <img src="https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80', alt='Snowy Mountains" class="ticket-cards__image">
        <div class="ticket-cards__content">
            <h3>Delegatpass</h3>
            <div class="ticket-cards__text-box">
                <p class="u-bold">Delegatpass (earlybird): Pris frem til 21.05: 990,-</p>
                <p class="u-bold">Delegatpass student: 895,-</p>
                <p>Dette passert gir deg fysisk og digital tilgang til 2 dager konferanse og 3 dager med konserter, inkludert møteplasser mm. arrangert av Vill Vill Vest.</p>
            </div>
            <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2021" class="ticket-cards__button">Kjøp <span>&rarr;</span></a>
        </div>
    </div>
    
    
</div>
{% endblock %}