{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<div class="tickets page-content">  
   <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Billetter</h1>
   <p class="u-padding-bottom-2">Opplev et stort og variert program med de beste og mest interessante norske artistene i verden. Vill Vill Vest 2022 finner sted i Bergen, fra torsdag 1.september til og med lørdag 3. september. Sikre deg din billett i dag!</p>
</div>


<div class="ticket-cards">
<h2 class="u-center u-padding-bottom-6 u-padding-top-2  heading--section">Hvilken billett skal jeg velge?</h2>
    <div class="ticket-cards__box">
        <div class="ticket-cards__card">
            {% set image = tickets.ticketImage1.one %}
            {% if image|length %}
                <img class="ticket-cards__image" src="{{ image.url({ width: 700 }) }}">
            {% endif %}
            <div class="ticket-cards__content">
                <h3>Dagspass</h3>
                <div class="ticket-cards__text-box">
                    <p class="u-bold">I salg fra 1. august</p>
                    <p class="u-bold">Dagspass torsdag 349,-</p>
                    <p class="u-bold">Dagspass fredag og lørdag 399,-</p>
                </div>
                <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2022" target="_blank" class="ticket-cards__button">Kjøp <span>&rarr;</span></a>
            </div>
    </div>

    <div class="ticket-cards__card">
        {% set image = tickets.ticketImage2.one %}
        {% if image|length %}
            <img class="ticket-cards__image" src="{{ image.url({ width: 700 }) }}">
        {% endif %}
        <div class="ticket-cards__content">
            <h3>Festivalpass</h3>
            <div class="ticket-cards__text-box">
                <p class="u-bold">Festivalpass: 890,-</p>
                <p class="u-bold">Studentpris: 749,-</p>
                {# <p class="u-bold">Festivalpass (BT Fordel) 690,-</p> #}
                <p>Festivalpass i salg fra 1.januar 2022</p>
            </div>
            <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2022" target="_blank" class="ticket-cards__button">Kjøp <span>&rarr;</span></a>
        </div>
    </div>

    <div class="ticket-cards__card">
        {% set image = tickets.ticketImage3.one %}
        {% if image|length %}
            <img class="ticket-cards__image" src="{{ image.url({ width: 700 }) }}">
        {% endif %}
        <div class="ticket-cards__content">
            <h3>Delegatpass</h3>
            <div class="ticket-cards__text-box">
                {# <p class="u-bold">Earlybird 990,-</p> #}
                <p class="u-bold">Pris fra 1. april: 1 290,-</p> 
                <p class="u-color-grey">Pris fra 15. juni: 1 490,- <br>Pris fra 1. august: 1 690,-</p>
                <p>Dette passet gir deg tilgang til alt av program, i tillegg til møteplasser mm. arrangert av Vill Vill Vest</p>
            </div>
            <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2022" target="_blank" class="ticket-cards__button">Kjøp <span>&rarr;</span></a>
        </div>
    </div>
    
    
</div>
</div>
{% endblock %}