{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Aktiviteter for artister og delegater</h1>
    <p class="u-margin-bottom-2">Vill Vill Vest er mer enn konserter og konferanse. Tradisjon tro har vi snekret sammen et ekstraprogram slik at du skal få så mye ut at festivaloppholdet som mulig. Det er begrenset kapasitet, så sørg for å sikre din plass nå!</p>
    <h2 class="u-margin-bottom-2 u-margin-top-6">
        <span class="u-color-accent">FOR DELEGATER</span>
    </h2>
    <h3 class="u-margin-bottom-2">
        Morgenbading på Nordnes Sjøbad
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">10.september kl 08:00 - 09:30 & 11.september kl 10:00 - 12:30</span></p>
    <p class="u-margin-bottom-2">
        Sommeren er ikke over før badebuksen er lagt på hyllen. Bli med på en forfriskende dukkert i ikoniske Nordnes Sjøbad før konferansestart. Det utendørs bassenget holder behagelige 30 grader - og for dem som ønsker en frisk start på dagen i sjøen, så står to saunaer til fri disposisjon. Vi stiller selvfølgelig med kaffe og skillingsboller
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScl4bDJNSbCb-rDqy7KTMImrqvB7kZVoHtSp0naeAuaoUnKFw/viewform">&rarr; Meld deg på her</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Delegatcruise
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">11.september kl 13:00 - 15:30</span></p>
    <p class="u-margin-bottom-2">
        Fikk du ikke med deg delegatcruiset i 2019? Da har du en ny sjanse nå. Bli med på en tur i fjorden med legendariske <a class="https://www.maritimetours.no/en/vestgar/">Vestgar</a>. Programmet kurateres av det Bergensbaserte plateselskapet <a href="https://www.mhostlikely.com/">Mhost Likely</a>, det blir enkel bevertning og noe digg i glasset. Kanskje det til og med dukker opp en artist eller to
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc8BdNJWlzEQxUP7r8i2HqgQJffw3NRlb9JJDzncmBOW0Y36A/viewform">&rarr; Meld deg på her (bindende)</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Møteplass med Music Norway og Norske Konsertarrangører
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">9. september, Kulturhuset kl 18:00 - 19:00</span></p>
    <p class="u-margin-bottom-2">
        Music Norway og Norske Konsertarrangører inviterer til vorspiel. Her blir det garantert topp stemning, noe godt å drikke og enkel servering fra en lokal sjappe. Håper du tar turen innom - det er på høy tid å henge litt igjen!
    </p>
    <a href="https://www.facebook.com/events/253743433257775">&rarr; Facebookevent</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Møteplass med Musikkontoret
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">10. september, Kulturhuset kl 18:00 - 19:00</span></p>
    <p class="u-margin-bottom-2">Brak, MØST, STAR, Tempo, RYK, ØKS og Sørf samles under én paraply: Musikkontoret.no. På Vill Vill Vest-fredagen inviterer vi til en uformell mingling før konsertene starter, med enkel servering og noe godt å drikke. Bli bedre kjent med Musikkontorene og Musikkontoret.no!
    </p>
    <a href="https://www.facebook.com/events/851884075703655/">&rarr; Facebookevent</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Møteplass for låtskrivere, produsenter og bransje
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">08. september, Bkolon kl 17:00 - 20:00</span></p>
    <p class="u-margin-bottom-2">Buzz, Musikkforleggerne og Brak inviterer til møteplass i forkant av Vill Vill Vest for låtskrivere, produsenter, musikkforleggere og andre som er interessert i den skapende, kreative delen av musikkbransjen og forvaltningen av denne.
    </p>
    <a href="https://www.brak.no/moteplass-for-latskrivere-produsenter-og-bransje-2/">&rarr; Meld deg på her (obligatorisk)</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Den store kulturdebatten
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">08. september, USF Verftet kl 17:00 - 18:30</span></p>
    <p class="u-margin-bottom-2">Det nærmer seg valg, og i den forbindelse arrangerte Kultur Vest i samarbeid med Bergen Næringsråd kulturdebatt på USF Verftet. Et panel bestående av Tone Østerdal, daglig leder for Norske Konsertarrangører, Frode Bjerkestrand, kulturredaktør i Bergens Tidende, Ole Reinert Berg Olsen fra Bergen Næringsråd og Øyunn Viken, daglig leder for Kultur Vest, gir et oppspill til debatten.
    </p>
    <a href="https://www.facebook.com/events/434234274477736/">&rarr; Facebookevent</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Frokostmøte med Balansekunst
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">10. september, Hotel Norge kl 09:00 - 09:45</span></p>
    <p class="u-margin-bottom-2">Balansekunst inviterer kulturaktører til frokostmøte under Vill Vill Vest. Vi byr på frokost og speedintro til Balansemerket, en merkeordning mot seksuell trakassering i kulturlivet. Formålet med møtet er å skape en arena der Balansekunst-medlemmer og andre interesserte kan møtes og få litt faglig påfyll.
    </p>
    <a href="https://www.facebook.com/events/364950018466906/">&rarr; Meld deg på her (obligatorisk)</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Indie Label Marked på Havrommet 
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">Lørdag 11. september, kl 16:00 - 19:00</span></p>
    <p class="u-margin-bottom-2">GEMS og Brilliance Live inviterer til Indie Label Marked på Havrommet! Bli med og møt plateselskapene, vis låtene dine, se enda flere konserter eller bare for å spise med noe godt i glasset.
    </p>
    <a href="https://www.facebook.com/events/382445113477302/">&rarr; Facebookevent</a>





    <h2 class="u-margin-bottom-2 u-margin-top-8">
        <span class="u-color-accent">FOR ARTISTER</span>
    </h2>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Demosessions med Musikkontoret 
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">10. september kl 12:00 på Kulturhuset</span></p>
    <p class="u-margin-bottom-2">Har du lyst å få tilbakemelding på din musikk? Musikkontoret og Vill Vill Vest har satt sammen et kompetansetungt og musikkelskende panel for å komme med konstruktiv kritikk på dine låter. Yunus Daar (Nora Collective), Anna Nor Sørensen (Urørt, P3) og Malin Pettersen (artist) deler sine tanker og anbefalinger til de utvalgte demoene. Demosession foregår på konferansen og alle som har blitt plukket ut til å delta må møte opp.</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfmIjuHC3g9YP0mkqyotJ22fM2u-O7PhWuxWzhoRmsnOCoBzA/viewform">&rarr; Send inn din musikk her</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Møt Gramo: hvordan tjene penger på din musikk? 
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">9. & 10. september, Kulturhuset mellom 14:00 og 18:00  - Book møte for gratis veiledning med Gramo</span></p>
    <p class="u-margin-bottom-2">Følelsen av å få sin første låt på radio er noe alle musikere husker, men hva skjer så? Hvordan tjener man penger på dette? Du har faktisk rett på betaling om musikken din spilles på radio, men det krever et par enkle steg. Nå har du en unik mulighet til å booke et personlig møte med Gramo for å få vite mer om hvordan du går frem og hva du må gjøre.</p>
    <a href="https://calendly.com/gramo-morten/30min?month=2021-09">&rarr; Book ditt møte nå</a>
    <h3 class="u-margin-bottom-2 u-margin-top-4">
        Kontraktsjekk med GramArt (for artister)
    </h3>
    <p class="u-margin-bottom-2"><span class="u-italic-subtitle">9. & 10. september mellom 12:00 og 13:30 - Book møte  for gratis kontraktsjekk med GramArt </span></p>
    <p class="u-margin-bottom-2">Som nyetablert artist er det lett å bli sjarmert når noen gir deg en kontrakt og en penn. Det er jo dette du har drømt om! Men det er ikke så lurt å undertegne på den første og beste stiplede linjen – musikkbransjen har mange fallgruver og du gjør best i å undersøke ordentlig før du signerer. Og det er nettopp slike ting Norges største artistorganisasjon GramArt hjelper deg med. La juridisk rådgiver Maren Eline Skaskiewicz ta en titt på kontrakten din, helt gratis! Meld deg på via dette skjemaet.</p>
    <a href="https://kontraktsjekk.paperform.co/">&rarr; Book ditt møte nå</a>
</section>
    


{% endblock %}
