{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

    <section class="page-content u-w-pc-70">
        <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">FAQ</h1>
        <p class="u-padding-bottom-2">Lurer du på noe om Vill Vill Vest? Se svar på ofte stilte spørsmål under:</p>
    </section>

    <section class="section-accordion page-content">
        <h2 class="u-padding-bottom-2 u-padding-top-2">Covid-19:</h2>
        <div class="accordion">

            <div class="accordion__item">
                <div class="accordion__title">Kan Vill Vill Vest 2021 gjennomføres med dagens restriksjoner?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Festivalen planlegges etter dagens situasjon. Det er lov å samle opp til 50% kapasitet, og maks 500 publikum per kohort innendørs med bruk av koronasertifikat og hurtigtest.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Er det trygt å dra på festivalen?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Vi tar smittevern på høyeste alvor og planlegger en festival i covid-19 tilpassede rammer med bordservering og overholding av 1-metersregelen gjennom hele arrangementet.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Vil det være faste tilviste sitteplasser på festivalen?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>
                    Nei, det er mulig å nyte konsertene stående, men alkoholservering må bestilles til bord.
                    </p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hva blir annerledes på årets festival?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Først det opplagte: Redusert publikumskapasitet. Det vil si at det selges færre billetter enn det ellers ville blitt solgt. I tillegg må man som publikum vise frem grønt koronasertifikat, eller negativ covid-19 test (under 24t gammel) når man henter ut festivalbåndet sitt.</p>
                </div>
                </div>

            </div>
            
            <div class="accordion__item">
                <div class="accordion__title">Hva gir festivalpasset tilgang til?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Festivalpasset gir adgang til alle konsertene på programmet torsdag-lørdag.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hva skjer hvis festivalen må avlyse?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Om myndighetene pålegger oss å avlyse vil du få mulighet til å refundere billetten eller overføre den til Vill Vill Vest 2022.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hva skjer hvis favorittbandet mitt må avlyse?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Vi tar forbehold om endringer i programmet. Kjøpte billetter vil kun refunderes dersom arrangementet avlyses i sin helhet, ikke dersom kun en eller flere av artistene avlyser sin opptreden.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Blir det lagt ut flere billetter?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Hvis situasjonen tillater det vil det bli lagt ut noen flere dagspass. Det planlegges også flere klubbkonserter på egne billetter for de som ikke er så heldige å få festivalpass.</p>
                </div>
                </div>

            </div>

</div>

    </section>

    <section class="section-accordion page-content">
        <h2 class="u-padding-bottom-2 u-padding-top-6">Billettrelaterte spørsmål:</h2>
        <div class="accordion">

            <div class="accordion__item">
                <div class="accordion__title">Hva får jeg for min billett?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p><b>Delegatpass:</b> Gir deg tilgang til hele konferanseprogrammet og alle konserter organisert av Vill Vill Vest.</p>
                    <p><b>Festivalpass:</b> Gir deg tilgang til alle konsertene organisert av Vill Vill Vest alle dager.</p>
                    <p><b>Dagspass:</b> Gir deg tilgang til alle konserter en dag. Dette blir torsdag, fredag eller lørdag under festivalen.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvor kan jeg hente ut min billett?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>For å kunne gå på festivalen må du først hente festivalbåndet ditt i billettboden eller akkrediteringen.</p>
                    <p><b>Delegatpass:</b> Hentes ut i akkrediteringen på Kulturhuset i Vaskerelven 8</p>
                    <p><b>Festivalpass:</b> Hentes ut i akkrediteringen på Kulturhuset i Vaskerelven 8</p>
                    <p><b>Dagspass:</b> Hentes ut i akkrediteringen på Kulturhuset i Vaskerelven 8</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hva skjer hvis jeg vil gi bort min billett til en annen person?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>
                    Hvis du ikke har kjøpt billetten din selv eller har fått billett av noen andre må du oppgi din informasjon for smittesporing når du henter ut festivalbåndet ditt, slik at vi har riktig navn på riktig QR-kode.
                    </p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Gir billetten min prioritert tilgang til gratis arrangementer?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Under festivalen vil det dukke opp mange gratis arrangementer i regi av Vill Vill Vest sine samarbeidspartnere. Disse eventene er åpne for alle med adgang til Vill Vill Vest. Det er førstemann til mølla-prinsippet som gjelder. </p>
                </div>
                </div>

            </div>
            
            <div class="accordion__item">
                <div class="accordion__title">Hva gir festivalpasset tilgang til?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Festivalpasset gir adgang til alle konsertene på programmet torsdag-lørdag.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hva skjer hvis festivalen må avlyse?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Om myndighetene pålegger oss å avlyse vil du få mulighet til å refundere billetten eller overføre den til Vill Vill Vest 2022.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hva skjer hvis favorittbandet mitt må avlyse?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Vi tar forbehold om endringer i programmet. Kjøpte billetter vil kun refunderes dersom arrangementet avlyses i sin helhet, ikke dersom kun en eller flere av artistene avlyser sin opptreden.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Blir det lagt ut flere billetter?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Hvis situasjonen tillater det vil det bli lagt ut noen flere dagspass. Det planlegges også flere klubbkonserter på egne billetter for de som ikke er så heldige å få festivalpass.</p>
                </div>
                </div>

            </div>

</div>

    </section>


    <section class="section-accordion page-content">
        <h2 class="u-padding-bottom-2 u-padding-top-6">Konsertrelaterte spørsmål:</h2>
        <div class="accordion">

            <div class="accordion__item">
                <div class="accordion__title">Hvor finner jeg program og spilletider</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Program og spilletider ligger på våre <a href="https://villvillvest.no/program">nettsider</a> og i vår <a href="https://apps.apple.com/no/app/vill-vill-vest/id1266344059?l=nb">festivalapp</a>. Programmet er klart, så det er bare å gå inn og finne sin favoritt.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvor løser jeg inn min billett?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Billett løses inn til armbånd i en av billettboden til Vill Vill Vest. Denne er plassert utenfor Landmark, Rasmus Meyers allé 5, 5015 Bergen. Spørsmål kan rettes til <a href="mailto:festival@villvillvest.no">festival@villvillvest.no</a></p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvilken aldersgrense har Vill Vill Vest?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>
                    Festivalområdet har aldersgrense 18 år. Ellers følger vi aldersgrensen til spillestedene som er 18 eller 20 år. Det er mulig å delta med verge om du ikke er over 18 år, men dette må du avtale direkte med spillestedene i forkant.
                    </p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvor og når kan jeg se konsertene på Vill Vill Vest 2021?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Konsertene kan du nyte torsdag 9., fredag 10. og lørdag 11. september på: Landmark, Kvarteret (Teglverket), Kvarteret (Tivoli), Victoria Pub og Café, Østre, Hulen og Kulturhuset i Bergen. Konsertene finner sted fra kl 19:00 - 00:00. Det vil også skje arrangementer på Hotel Norge og Apollon. </p>
                </div>
                </div>

            </div>
            
            <div class="accordion__item">
                <div class="accordion__title">Jeg ønsker å være frivillig. Er det mulig?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Frivillighet er en sentral del av Vill Vill Vest, og vi har mange små og store roller for de som ønsker å være frivillige! Du må være over 18 år for å være frivillig hos oss. Søknad sendes inn <a href="https://villvillvest.no/frivillig">her</a>.</p>
                </div>
                </div>

            </div>

</div>

    </section>

    <section class="section-accordion page-content">
        <h2 class="u-padding-bottom-2 u-padding-top-6">Artistrelaterte spørsmål:</h2>
        <div class="accordion">

            <div class="accordion__item">
                <div class="accordion__title">Kan mitt band spille på Vill Vill Vest? </div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Absolutt! Usignerte artister fra hele Norge kan søke som om å spille på Vill Vill Vest. Søknadsportalen åpnes i januar (Søknadsfrist 2021 er utløpt). Spørsmål kan rettes til <a href="mailto:martin@villvillvest.no">martin@villvillvest.no</a></p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Er Vill Vill Vest kun for uetablerte og usignerte artister og band?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Vill Vill Vest handler om å feire ny norsk musikk og se framover. Dette kan være nye sjangermessige fenomen som er i ferd med å bryte seg opp av undergrunnen, helt ferske artister og mer etablerte artister som er aktuelle med ny musikk.</p>
                </div>
                </div>

            </div>


</div>

    </section>


    <section class="section-accordion page-content">
        <h2 class="u-padding-bottom-2 u-padding-top-6">Konferanserelaterte spørsmål:</h2>
        <div class="accordion">

            <div class="accordion__item">
                <div class="accordion__title">Når og hvor avholdes konferansen?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Årets konferanse avholdes 9.-10. september på dagtid på Kulturhuset i Bergen. Dette ligger i Vaskerelven 8.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvem er konferansen laget for, kan jeg delta?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Ja, konferansen er laget for alle som er interessert, men fokuserer på profesjonell musikkbransje (artister, arrangører, plateselskap, artistbyrå, organisasjoner).</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvordan blir jeg delegat?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Kjøp delegatpass <a href="https://villvillvest.ticketco.events/no/en/e/vill_vill_vest_2021">her</a>.</p>
                </div>
                </div>

            </div>

            <div class="accordion__item">
                <div class="accordion__title">Hvor sjekker jeg inn som delegat?</div>
                <div class="accordion__body">
                <div class="accordion__content">
                    <p>Delegatinnsjekk begynner onsdag 8. september på Kulturhuset i Bergen, i Vaskerelven 8.</p>
                </div>
                </div>

            </div>


</div>

    </section>

{% endblock %}