{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">VOLUNTEER</h1>
    <p class="u-margin-bottom-2"><b>* Scroll down for signup form</b> </p>
    <p class="u-margin-bottom-2">
    In order to make the best festival experience of the year we need the best people! Each year, about 100 volunteers take part in making Vill Vill Vest a part of music history. Your participation and contribution is the pillar of Vill Vill Vest, and without you there would be no festival. Thank you! 
    </p>
    <p class="u-margin-bottom-2">
    <span class="u-bold">WHY VOLUNTEER?</span><br>
    There may be moments when you’re seeing your new favourite band, and the music is so good that you forget time and space, when you believe that festivals come together by magic. But you’re wrong – in fact Vill Vill Vest is a feat of arduous work and a lot of fun, with over 100 people coming together to set our audience up for a unique musical experience.
    </p>
    <p class="u-margin-bottom-2">
    Volunteering for Vill Vill Vest is a fantastic way to dive into the latest of Norway’s music scene. You’ll earn a wristband giving you access to all parts of the festival – the music conference for industry geeks, all the live shows, and perhaps even some surprises.
    </p>
    <p class="u-margin-bottom-2">
    <span class="u-bold">PERKS OF BEEING A VOLUNTEER:</span><br>
    Volunteers from around the world are welcome to apply and will get the chance to see some of the coolest new acts in the Norwegian music scene as well as full access to our music conference program. 
    <ul class="u-margin-bottom-2 u-list-indent">
    <li>Free entrance to all concerts Vill Vill Vest (All our venues have a limited capacity)*</li> 
    <li>First come, first served)Free food and access to coffee/tea/water during shift hours</li> 
   <li>A Vill Vill Vest t-shirt</li> 
   <li>Invitation to a Vill Vill Vest volunteer appreciation party</li> 
    </p>
    </ul>
    <p class="u-margin-bottom-2">
    If you have any special needs or dietary requirements, please let us know in the form below. Vill Vill Vest does not offer transport or accommodation to and from the festival for volunteers. We’d prefer you’d to be over 18 years old, but if you’re a minor we might still have some vacant positions. Please remember to check in advance which venues you can attend and cannot attend if you are under 18 years old.
    </p>
    <p class="u-margin-bottom-2">
    <span class="u-bold">VOLUNTEERS ARE OBLIGED TO:</span> 
    </p>

    <ul class="u-margin-bottom-2 u-list-indent">
    <li>Work at least 12-18 hours during the festival or 18 -24 hours before and after, depending on the tasks.</li>
    <li>Follow instructions given at information meetings, e-mail and during shift hours by your group leader</li>
    <li>Show up to your shift sober</li>
    <li>Check out the festival program and be a good ambassador for Vill Vill Vest</li>
    <li>Wear the Vill Vill Vest t-shirt at work (do not wear it during the festival if you’re not working)</li>
    </ul>

    <p class="u-margin-bottom-2">
    If you do not meet our demands or turn up to your shift, you may lose the right to attend the festival.
    </p>
    <p class="u-margin-bottom-2">
    You will receive a response to your registration before the festival. For more information or questions, please contact volunteer coordinator Synne Stormoen at <a href="mailto:frivillig@villvillvest.no">frivillig@villvillvest.no</a><br><br>
    <a href="{{ url('job-description') }}">Read job descriptions here</a>
    </p>
    <p class="u-margin-bottom-2">

    <a class="u-margin-bottom-2" target="_blank" href="https://form.arkon.no/?id=6627&key=Kbv4qK">Register as a volunteer here</a>

    <br><br>

    We look forward to creating Vill Vill Vest 2021 with you!
    </p>
</section>
    


{% endblock %}
