{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Frivillig</h1>
    <p class="u-margin-bottom-2"><b>* Scroll ned for påmeldingsskjema</b> </p>
    <p class="u-margin-bottom-2">
    For å lage årets beste festivalopplevelse i Bergen trenger vi de beste folka! Hvert år har vi over 100 frivillige på Vill Vill Vest – engasjerte, arbeidsomme frivillige som er med å skape musikkhistorie. Din innsats er grunnsteinen i Vill Vill Vest, uten dere, ingen festival. Takk!
    </p>
    <p class="u-margin-bottom-2">
    <span class="u-bold">HVORFOR BLI FRIVILLIG?</span><br>
    Som Vill Vill Vest-frivillig får du en uforglemmelig opplevelse! 
    </p>
    <p class="u-margin-bottom-2">
    Du vil oppdage et fellesskap av likesinnede mennesker som elsker festivaler og som er interessert i å lære mer om hvordan musikkbransjen fungerer fra innsiden. Hvis du ønsker en annerledes festivalopplevelse, noen goder fra våre konsertarenaer, og inngang til en rekke konserter på Vill Vill Vest 2021 bør du melde deg som frivillig!
    </p>
    <p class="u-margin-bottom-2">
    Er du raskt ute med å melde deg på så er muligheten større for at du får nettopp den jobben du ønsker deg. Det er et begrenset antall plasser i hver gruppe, men vi vil gjøre vårt beste for å møte dine ønsker.
    </p>
    <p class="u-margin-bottom-2">
    <span class="u-bold">SOM FRIVILLIG FÅR DU:</span> 
    <ul class="u-margin-bottom-2 u-list-indent">
    <li>Gratis inngang til alle arrangementene (konsertene har begrenset med plass og følger førstemann-til-mølla prinsippet)*</li> 
    <li>Et gratis måltid og tilgang på kaffe/te når du er på jobb</li> 
   <li>En Vill Vill Vest t-skjorte</li> 
   <li>Invitasjon til Vill Vill frivilligfest!</li> 
    </p>
    </ul>
    <p class="u-margin-bottom-2">
    *På grunn av kapasitetsbegrensninger i forbindelse med smittevernstiltak er vi nødt til å sette en maks kapasitet pr.dag. Dette vil også gjelde frivillige (som ikke er på jobb) på konsertdagen. For å kunne overholde logistikken og følge retningslinjene for kapasitet for 2021 vil vi holde av et gitt antall plasser til frivillige pr.dag. Du vil få mer informasjon om hvordan disse plassene administreres av frivilligansvarlig før festivalen.
    </p>
    <p class="u-margin-bottom-2">
    Har du spesielle behov eller allergier må dette meldes i skjemaet nedenfor. Vill Vill Vest tilbyr ikke transport frem og tilbake til festivalen. Vi ser helst at du er over 18 år, men om du er mindreårig og ønsker å bidra kan det hende vi har noen mulige åpninger. 
    </p>
    <p class="u-margin-bottom-2">
    <span class="u-bold">FRIVILLIGE ER FORPLIKTET TIL:</span> <br>
    Jobbe minst 12-18 timer under festivalen eller 18 -24 timer før/etter. <br>Arbeidstid avhenger av arbeidsoppgaver.
    </p>

    <ul class="u-margin-bottom-2 u-list-indent">
    <li>Følge instruksjonene du får på informasjonsmøter, e-post og på jobb.</li>
    <li>Møte i tide i tråd med instruksene, og passe på at du tar kontakt med oss på forhånd om du blir forhindret fra å jobbe</li>
    <li>Være edru når du er på jobb</li>
    <li>Tilegne deg kunnskap om festivalprogrammet og være en god representant for Vill Vill Vest</li>
    <li>Ha på Vill Vill Vest t-skjorte når du er på jobb (og kun når du er på jobb)</li>
    </ul>

    <p class="u-margin-bottom-2">
    Hvis du ikke oppfyller kravene, eller du ikke møter opp til dine avtalte skift, kan du miste retten til å delta på resterende festivalarrangementer gratis.
    </p>
    <p class="u-margin-bottom-2">
    Vi vil sende ut mer informasjon underveis. Alle vil få svar på sin søknad i god tid før festivalen. For øvrig informasjon, ta kontakt med frivilligkoordinator <a href="mailto:frivillig@villvillvest.no">frivillig@villvillvest.no</a>
    </p>
    <p class="u-margin-bottom-2">

    {% set doc = frivillig.pdf.one %}
    {% if doc|length %}

        <a target="_blank" href="{{ doc.url }}">Les arbeidsbeskrivelsene her</a>
    {% endif %}

    
    </p>
    <p class="u-margin-bottom-2">
    Vi gleder oss til å lage Vill Vill Vest med deg!
    </p>
</section>

<section class="page-content u-margin-top-6">
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>
<div id="mc_embed_signup">
<form action="https://villvillvest.us13.list-manage.com/subscribe/post?u=3c1ff1790241743ad692c411f&amp;id=91d29817ad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate u-no-padding" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group input-group">
    <strong>I have read and accepted the conditions  <span class="asterisk">*</span>
</strong>
    <ul><li><input type="radio" value="Yes" name="MMERGE5" id="mce-MMERGE5-0"><label for="mce-MMERGE5-0">Yes</label></li>
</ul>
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name </label>
	<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-MMERGE6-month">Birthday  <span class="asterisk">*</span>
</label>
	<div class="datefield">
		<span class="subfield monthfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="MMERGE6[month]" id="mce-MMERGE6-month"></span> /
		<span class="subfield dayfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="MMERGE6[day]" id="mce-MMERGE6-day"></span> /
		<span class="subfield yearfield"><input class="datepart required" type="text" pattern="[0-9]*" value="" placeholder="YYYY" size="4" maxlength="4" name="MMERGE6[year]" id="mce-MMERGE6-year"></span>
        <span class="small-meta nowrap">( mm / dd / yyyy )</span>
	</div>
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group size1of2">
	<label for="mce-PHONE">Phone Number </label>
	<input type="text" name="PHONE" class="" value="" id="mce-PHONE">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE7">Country of Origin </label>
	<input type="text" value="" name="MMERGE7" class="" id="mce-MMERGE7">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE14">Language </label>
	<input type="text" value="" name="MMERGE14" class="" id="mce-MMERGE14">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE8">Job 1. choice </label>
	<select name="MMERGE8" class="" id="mce-MMERGE8">
	<option value=""></option>
	<option value=""></option>
<option value="Poster (pre- festival)">Poster (pre- festival)</option>
<option value="Tickets">Tickets</option>
<option value="Check - in and information">Check - in and information</option>
<option value="Runner">Runner</option>
<option value="Transport (must have driving license)">Transport (must have driving license)</option>
<option value="Kitchen and Catering">Kitchen and Catering</option>
<option value="Festival/Seminar Host">Festival/Seminar Host</option>
<option value="Alternative promo/ Rigg">Alternative promo/ Rigg</option>
<option value="Guardian (For audience under 18 years old)">Guardian (For audience under 18 years old)</option>
	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE9">Job 2. choice </label>
	<select name="MMERGE9" class="" id="mce-MMERGE9">
	<option value=""></option>
	<option value=""></option>
<option value="Poster (pre- festival)">Poster (pre- festival)</option>
<option value="Tickets">Tickets</option>
<option value="Check - in and information">Check - in and information</option>
<option value="Runner">Runner</option>
<option value="Transport (must have driving license)">Transport (must have driving license)</option>
<option value="Kitchen and Catering">Kitchen and Catering</option>
<option value="Festival/Seminar Host">Festival/Seminar Host</option>
<option value="Alternative promo/ Rigg">Alternative promo/ Rigg</option>
<option value="Guardian (For audience under 18 years old)">Guardian (For audience under 18 years old)</option>
	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE10">Job 3. choice </label>
	<select name="MMERGE10" class="" id="mce-MMERGE10">
	<option value=""></option>
	<option value=""></option>
<option value="Poster (pre- festival)">Poster (pre- festival)</option>
<option value="Tickets">Tickets</option>
<option value="Check - in and information">Check - in and information</option>
<option value="Runner">Runner</option>
<option value="Transport (must have driving license)">Transport (must have driving license)</option>
<option value="Kitchen and Catering">Kitchen and Catering</option>
<option value="Festival/Seminar Host">Festival/Seminar Host</option>
<option value="Alternative promo/ Rigg">Alternative promo/ Rigg</option>
<option value="Guardian (For audience under 18 years old)">Guardian (For audience under 18 years old)</option>
	</select>
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE11">Other similar experience </label>
	<input type="text" value="" name="MMERGE11" class="" id="mce-MMERGE11">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE12">Special needs, allergies </label>
	<input type="text" value="" name="MMERGE12" class="" id="mce-MMERGE12">
</div>
<div class="mc-field-group">
	<label for="mce-MMERGE13">Other things we should know:)? </label>
	<input type="text" value="" name="MMERGE13" class="" id="mce-MMERGE13">
</div>
<div class="mc-field-group input-group">
    <strong>I'm available to work: </strong>
    <ul><li><input type="checkbox" value="1" name="group[407558][1]" id="mce-group[407558]-407558-0"><label for="mce-group[407558]-407558-0">All Days</label></li>
<li><input type="checkbox" value="2" name="group[407558][2]" id="mce-group[407558]-407558-1"><label for="mce-group[407558]-407558-1">Before and after the festival</label></li>
<li><input type="checkbox" value="4" name="group[407558][4]" id="mce-group[407558]-407558-2"><label for="mce-group[407558]-407558-2">Wednesday 08.09 DAY</label></li>
<li><input type="checkbox" value="8" name="group[407558][8]" id="mce-group[407558]-407558-3"><label for="mce-group[407558]-407558-3">Wednesday 08.09 EVENING</label></li>
<li><input type="checkbox" value="16" name="group[407558][16]" id="mce-group[407558]-407558-4"><label for="mce-group[407558]-407558-4">Thursday 09.09 DAY</label></li>
<li><input type="checkbox" value="32" name="group[407558][32]" id="mce-group[407558]-407558-5"><label for="mce-group[407558]-407558-5">Thursday 09.09 EVENING</label></li>
<li><input type="checkbox" value="64" name="group[407558][64]" id="mce-group[407558]-407558-6"><label for="mce-group[407558]-407558-6">Friday 10.09 DAY</label></li>
<li><input type="checkbox" value="128" name="group[407558][128]" id="mce-group[407558]-407558-7"><label for="mce-group[407558]-407558-7">Friday 10.09 EVENING</label></li>
<li><input type="checkbox" value="256" name="group[407558][256]" id="mce-group[407558]-407558-8"><label for="mce-group[407558]-407558-8">Saturday 11.09 DAY</label></li>
<li><input type="checkbox" value="512" name="group[407558][512]" id="mce-group[407558]-407558-9"><label for="mce-group[407558]-407558-9">Saturday 11.09 EVENING</label></li>
</ul>
</div>
<div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
    <div class="content__gdpr">
        <label>Marketing Permissions</label>
        <p>Please select all the ways you would like to hear from :</p>
        <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
		<label class="checkbox subfield" for="gdpr_49262"><input type="checkbox" id="gdpr_49262" name="gdpr[49262]" value="Y" class="av-checkbox "><span>Email</span> </label><label class="checkbox subfield" for="gdpr_49266"><input type="checkbox" id="gdpr_49266" name="gdpr[49266]" value="Y" class="av-checkbox "><span>Direct Mail</span> </label><label class="checkbox subfield" for="gdpr_49270"><input type="checkbox" id="gdpr_49270" name="gdpr[49270]" value="Y" class="av-checkbox "><span>Customized Online Advertising</span> </label>
        </fieldset>
        <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
    </div>
    <div class="content__gdprLegal">
        <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
    </div>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3c1ff1790241743ad692c411f_91d29817ad" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[5]='MMERGE5';ftypes[5]='radio';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[6]='MMERGE6';ftypes[6]='date';fnames[0]='EMAIL';ftypes[0]='email';fnames[4]='PHONE';ftypes[4]='phone';fnames[7]='MMERGE7';ftypes[7]='text';fnames[14]='MMERGE14';ftypes[14]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[8]='MMERGE8';ftypes[8]='dropdown';fnames[9]='MMERGE9';ftypes[9]='dropdown';fnames[10]='MMERGE10';ftypes[10]='dropdown';fnames[11]='MMERGE11';ftypes[11]='text';fnames[12]='MMERGE12';ftypes[12]='text';fnames[13]='MMERGE13';ftypes[13]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</section>

{% endblock %}