{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4"><span class="u-color-accent">VOLUNTEER</span> JOB DESCRIPTIONS</h1>
    
    <p class="u-margin-bottom-2">
    <span class="u-bold">Posters</span><br>
    Going with posters means that you receive a spesific route in the center of Bergen that you do your best to wallpaper on your way. The most important thing is that you like to walk in all kinds of weather and can pick up your posters on your own in the center of the city!
    <br><br>
    When: Pre festival
    <br><br>
    Time: Cirka 16-18 hours total (corresponds two-three workdays)
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Tickets</span><br>
    You sell tickets in our carriage outside Landmark or exchange tickets for bracelets. Varied working hours, and the chance to work in a concert arena where your favorite band plays.
    <br><br>
    When: Pre or during festival.
    <br><br>
    Time: Two shift before festival or two shift during festival. Every shift is between 6-8 hours. Day and/or evening.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Runner</span><br>
    Do you like practical work and doing something with your hands? Here you can – by appointment – work with everything from rig to being on “standby” when you need sudden tasks that must be fixed within the administration, such as the festival director or promo group. An advantage that you like to both work in teams and independently!
    <br><br>
    When: Pre, during or post festival.
    <br><br>
    Time: Cirka 12-16 hours, possible to divide shifts before, during and post festival.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Accreditation (Check-in and information)</span><br>
    Your responsibility is to receive the festival ticket and exchange it for the festival bracelets. You will be the festival’s face on the outside, and the first that the audience meets at the festival. Therefore, it is very important that you are service-minded and are able to cope with hectic periods, while at the same time smiling.
    <br><br>
    Time: Two shift cirka 12-14 hours pre or during festival.
    <br><br>
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Volunteer team</span><br>
    Do you want to help create a good atmosphere among the volunteers? Volunteer coordinator is looking for a small team that can be sunshine patro, helpers and volunteer-party planners both during and after the festival. Here you must have some organizational skills, experience from events, be able to respond in a timely manner to sms/e-mail, be attentive and not be afraid to take initiative. In this group, it is required to work as needed, but most will probably take place the same week as the festival is and something afterwards. Volunteer coordinator takes in 2-4 people for this group.
    <br><br>
    When: Pre, during and post festival.
    <br><br>
    Time: Cirka 16-20 hours total.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Transport</span><br>
    Picking up and bringing equipment, people and everything we need.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Kitchen & catering</span><br>
    Boil soup, make sandwiches or deliver food and snacks.
    <br><br>
    When: during festival.
    <br><br>
    Time: 8-12 hours total, spread on 1-2 days (evening/day) during festival.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Festival/seminar host</span><br>
    Welcome the audience and speakers to Kulturhuset, point them in the right direction and answer relevant questions. You want to check the bracelets and make sure the audience flow runs smoothy.
    <br><br>
    When: During festival
    <br><br>
    Time: Two shift between 6-8 hours.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Rigg</span><br>
    Kulturhuset will be rigged up and down during the days of the festival. For this, we need people who can hel pus rig in the evening and at night. As riggers, there are many lifts and loads here and there, and you must be able to work efficiently.
    <br><br>
    When: Pre, during or post festival
    <br><br>
    Time: 2 shift, 6-8 hours (can vary)
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Alternative promo</span><br>
    This is the group for persons that like to create things! Every year we come up with new ideas concerning how we can “paint” Bergen in Vill Vill Vest colours. Alternative promo group works with everything from building to hanging up banners or creating art on the venues.
    <br></br>
    When: Pre and post festival
    <br><br>
    Time: Cirka 16-18 hours total (corresponds to two-three workdays)
    </p>
    
    
   

    

   
</section>
    


{% endblock %}
