{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4"><span class="u-color-accent">VOLUNTEER</span> JOB DESCRIPTIONS</h1>
    
    <p class="u-margin-bottom-2">
    <span class="u-bold">Tickets</span><br>
    Your responsibility is to exchange the audience’s tickets for festival bracelets. In addition, you check their bracelets into the venues. Therefore, you’re the first the audience meets at the festival, and it’s important that you are service-minded, while at the same time smiling.
    <br></br>
    Time: Two shifts before festival or two shifts during festival. Every shift is between 6-8 hours. Day and/or evening.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Volunteer team/guardian</span><br>
    Do you want to help create a good atmosphere among the volunteers? Volunteer coordinator is looking for a small team that can be sunshine patrol, helpers and volunteer-party planners both during and after the festival. Here you must have some organizational skills, experience from events, be able to respond in a timely manner to sms/e-mail, be attentive and not be afraid to take initiative. In this group, it is required to work as needed, but most will probably take place the same week as the festival is and something afterwards. Volunteer coordinator takes in 2-3 people for this group.
    <br></br>
    Time: Cirka 16-20 hours total pre, during and post festival.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Accreditation/info</span><br>
    Your responsibility is to receive the delegates festival ticket and exchange it for the festival bracelets. You will be the festival’s face on the outside, and the first that the delegates meets at the festival. Therefore, it is very important that you are service-minded and are able to cope with hectic periods, while at the same time smiling.
    <br></br>
    Time: Two shifts cirka 12-14 hours pre or during festival.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Transport/Runner</span><br>
    Your responsibility is to help with everything that can occur during the festival. You make sure logistics run smoothly and provide help where there is need for help. For instance to transport equipment to venues, pack lunch and dinner for volunteers at work and drive them to the venues, etc. 
    <br></br>
    Time: Two shifts cirka 12-14 hours pre, during and post festival. 
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Decoration team/fysisk promo</span><br>
    This is the group for people that like to create things! Every year we come up with new ideas concerning how we can “paint” Bergen in Vill Vill Vest colors. Alternative promo group works with everything from building to hanging up banners or creating art on the venues.
    <br></br>
    Time: Cirka 16-18 hours total (corresponds to two-three workdays) pre, during and post festival. 
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Venue runner/Rigg</span><br>
    As a venue runner, you make sure everything at your venue runs smoothly. Together with the venue coordinator, you will control that every detail is controlled and done in time. For instance, receiving and carrying things that are brought by the transport runner, rigging on the stage; that music equipment is being carried on and off stage, etc.
    <br></br>
    Time: Two shifts cirka 12-18 hours pre, during and post festival.
    </p>

    <p class="u-margin-bottom-2">
    <span class="u-bold">Conference host</span><br>
    Welcome the audience and speakers to the venue, point them in the right direction and answer relevant questions. You want to check the bracelets and make sure the audience flow runs smoothy.
    <br></br>
    Time: Two shift during the festival between 6-8 hours.
    </p>
    
    
   

    

   
</section>
    


{% endblock %}
