{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}
    <section class="page-content">
        <h1 class="heading--section u-margin-bottom-2 u-margin-top-4"><span class="u-color-accent">Konferanse</span> 2021</h1>
        <p class="paragraph u-padding-bottom-2 u-w-pc-70">Vill Vill Vest og Brak har gleden av å invitere til den sjette utgaven av Vill Vill Vest Musikkonferanse. Konferansen arrangeres 9.- 10. september 2021, i tillegg til sosialt program lørdag 11. september.</p>
        <p class="paragraph u-w-pc-70">Meld deg på vårt nyhetsbrev for slipp og informasjon om konferanse og foredragsholdere. Programmet slippes i bolker.</p>
    </section>
{% endblock %}