{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Kontakt oss</h1>
    <p class="u-padding-bottom-2">
    Lurer du på noe om festivalen? <br>
    <a href="mailto:kontakt@villvillvest.no">kontakt@villvillvest.no</a>
    </p>
    <p class="u-padding-bottom-4">
    <span class="u-bold">Festivalsjef / daglig leder</span> <br>
    Simen Korneliussen (+47) 984 61 643 <br>
    <a href="mailto:simen@villvillvest.no">simen@villvillvest.no</a>
    </p>
    <p class="u-padding-bottom-2">
    <span class="u-bold font-z-2">Konferanse</span> <br>
    Brak organiserer musikkonferansen på Vill Vill Vest.
    </p>
    <p class="u-padding-bottom-2">
    <span class="u-bold">Konferanseansvarlig</span> <br>
    Inni Mowinckel (+47) 936 34 242 <br>
    <a href="mailto:inni@brak.no">inni@brak.no</a>
    </p>
</section>
{% endblock %}