{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="all-partners page-content">
    <h1 class="heading--section u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Våre</span> samarbeidspartnere
  </h1>
  <p class="paragraph u-w-pc-70 u-padding-bottom-4">I'm half machine. I'm a monster. Across from where? Army had half a day. There's so many poorly chosen words in that sentence. There's so many poorly chosen words in that sentence.</p>
</section>
<section class="partners-categories page-content">
    <h2 class="partners-categories__subheading heading--section u-color-accent">
        Hovedpartnere
    </h2>
    <div class="partners-categories__grid">
        {% set images = partnere.hovedpartnere.all() %}
        {% for image in images %}
            <img src="{{ image.getUrl }}" class="partners-categories__image">
        {% endfor %} 
    </div>
</section>
<section class="partners-categories page-content u-margin-top-6">
    <h2 class="partners-categories__subheading heading--section u-color-accent">
        Faglige Partnere
    </h2>
    <div class="partners-categories__grid">
        {% set images = partnere.fagligePartnere.all() %}
        {% for image in images %}
            <img src="{{ image.getUrl }}" class="partners-categories__image">
        {% endfor %} 
    </div>
</section>
<section class="partners-categories page-content u-margin-top-6">
    <h2 class="partners-categories__subheading heading--section u-color-accent">
        Kuratorer
    </h2>
    <div class="partners-categories__grid">
        {% set images = partnere.kuratorer.all() %}
        {% for image in images %}
            <img src="{{ image.getUrl }}" class="partners-categories__image">
        {% endfor %} 
    </div>
</section>
<section class="partners-categories page-content u-margin-top-6">
    <h2 class="partners-categories__subheading heading--section u-color-accent">
        Sponsorer og bidragsytere
    </h2>
    <div class="partners-categories__grid">
        {% set images = partnere.sponsorer.all() %}
        {% for image in images %}
            <img src="{{ image.getUrl }}" class="partners-categories__image">
        {% endfor %} 
    </div>
</section>
{% endblock %}