{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Praktisk info</h1>
    <p class="u-margin-bottom-2">Konferansen finner sted på Kulturhuset i Bergen, Vaskerelven 8. Konsertene er spredd over flere steder, se alle <a href="{{ url('venues') }}">her</a>.</p>
    <p class="u-margin-bottom-2">
    For å delta på Vill Vill Vest må du vise frem grønt koronapass i akkrediteringen, enten gjennom vaksinasjon eller testing. Det kan være lurt å laste ned Helse Norge-appen i forkant og logge inn der. Dette må gjøres med Bank-ID eller lignende første gang, deretter kan man aktivere enklere passord-innlogging. 
    Mer informasjon om koronapass, testing og lignende finner du på siden <a href="{{ url('smittevern') }}">smittevern</a>
    </p>
    <p class="u-margin-bottom-2">
    AKKREDITERING OG BILLETT <br>
    Du må sjekke inn i akkrediteringen for å hente ut bånd. Når du skal inn på konserter eller konferansen må du vise både bånd og din egen QR-kode. Dette gjelder hver gang du skal inn et sted. 
    </p>
    <p class="u-margin-bottom-2">
    Dersom du bare skal delta på konserter, skal du vise frem koden du har fått på sms eller epost, i tillegg til båndet ditt. Dersom du er delegat, kan du bruke QR-koden på id-brikken du mottar i akkreditering, i tillegg til båndet ditt.
    </p>

    <h2 class="u-margin-bottom-2">
    ÅPNINGSTIDER:
    </h2>
    <p class="u-margin-bottom-2"><b>Teststasjonen:</b> <br>
        Inngang via Vaskerelven-smauet<br>
        ONSDAG: 18:00 - 21:00<br>
        TOR/FRE/LØR: 08:00 - 09:00 og 17:00 - 18:00 
    </p>
    <p class="u-margin-bottom-2"><b>Akkreditering:</b> <br>
        Inngang fremsiden av Kulturhuset (opp trappen til 3.etg)<br>
        ONSDAG: 12:00 - 21:00<br>
        TOR/FRE: 09:00 - 21:00<br>
        LØR: 10:00 - 19:00<br>
    </p>
    <p class="u-margin-bottom-2"><b>Billettbod:</b> <br>
        Inngang fremsiden av Kulturhuset (opp trappen til 3.etg)<br>
        ONSDAG: 12:0:00 - 20:00<br>
        TOR/FRE: 12:00 - 21:00<br>
        LØR: 12:00 - 21:00<br>
    </p>
    
    
   
    
</section>
    


{% endblock %}
