{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<h1 class="heading--section page-content u-margin-top-4 u-margin-bottom-2">
    <span class="u-color-accent">Artister</span> 2022
  </h1>
  <p class="paragraph page-content u-w-pc-70 u-padding-bottom-4">Hvert år kommer noen av de beste og mest talentfulle artistene til Vill Vill Vest. Klikk deg inn og finn en ny favoritt! Vi oppdaterer fortløpende med nye artister frem mot festivalen.</p>

  <p class="paragraph page-content u-w-pc-70 u-margin-bottom-2">Se også fullt program og oversikt over alle aktiviteter i vår festivalapp. Last med for <a href="https://play.google.com/store/apps/details?id=com.greencopper.android.villvillvest"><b>android</b></a> og <a href="https://apps.apple.com/us/app/vill-vill-vest/id1266344059"><b>iphone</b></a></p>

  <section class="program-nav page-content u-padding-bottom-4">
    <a href="{{ url('billetter') }}" class="program-link">Billetter</a>
    <a href="{{ url('villvillvest2022') }}" class="program-link">Artister</a>
    <a href="{{ url('program') }}" class="program-link">Program</a>
  </section>

<section class="page-content u-w-pc-70">
    
    
    <div class="program u-margin-top-4">

        <div class="thursday"><h2>Thursday</h2></div>
        <div class="friday"><h2>Friday</h2></div>
        <div class="saturday"><h2>Saturday</h2></div>

        <div class="divider divider-19">
            <h3>19:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-20">
            <h3>20:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-21">
            <h3>21:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-22">
            <h3>22:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-23">
            <h3>23:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-00">
            <h3>00:00</h3>
            <hr></hr>
        </div>

        <div class="subgrid subgrid-19">
       
            <div class="session timeslot-1930 thursday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/markella">Markella</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-1930 thursday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/nelly-moar">Nelly Moar</a></span>
                <span>Kulturhuset 1.etg</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-20">

            <div class="session timeslot-20 thursday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/herkedal">Herkedal</a></span>
                <span>Kvarteret // Teglverket</span>
        
            </div>

            <div class="session timeslot-20 thursday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/dania-o-tausen">Dania O. Tausen</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-20 thursday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/matte-juno">Matte Juno</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-20 thursday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/ruun">Ruun</a></span>
                <span>Hulen</span>
        
            </div>

            <div class="session timeslot-20 thursday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/helven">Jenny Bakke</a></span>
                <span>Victoria</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-21">

            <div class="session timeslot-21 thursday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/peri-winkle">Peri Winkle</a></span>
                <span>Kvarteret // Teglverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/wendra-hill-m-%C3%B8yvind-hegg-lunde-2">Wendra Hill m/ Øyvind Hegg-Lunde</a></span>
                <span>ØSTRE</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:15</h4>
                <span><a href="https://villvillvest.no/artister/mark-mushiva">Mark Mushiva</a></span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/jejune">JEJUNE</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/blodkvalt">Blodkvalt</a></span>
                <span>Hulen</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/tara-nome-doyle">Tara Nome Doyle</a></span>
                <span>Landmark</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/astronomies">Astronomies</a></span>
                <span>Victoria</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:45</h4>
                <span><a href="https://villvillvest.no/artister/von-august">Von August</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-22">

            <div class="session timeslot-18 thursday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/hammok">Hammok</a></span>
                <span>Kvarteret // Teglverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/cuevanueva">CuevaNueva</a></span>
                <span>Østre</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/utflod">Utflod</a></span>
                <span>Hulen</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/the-musical-slave">The Musical Slave</a></span>
                <span>Landmark</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/suncraft">Suncraft</a></span>
                <span>Victoria</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-23">

            <div class="session timeslot-18 thursday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/gkr">GKR</a></span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/florence-of-alabi-a">Florence of Alabia</a></span>
                <span>ØSTRE</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/gabba">Gabba</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/witch-club-satan">Witch Club Satan</a></span>
                <span>Hulen</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/bangbangwatergun">¡BangBangWatergun!</a></span>
                <span>Landmark</span>
        
            </div>

        </div>

        <div class="subgrid-00">
            <div class="session timeslot-18 thursday">
                
                {# <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/gabriela-garrubo">blabla</a></span>
                <span>Landmark</span> #}
        
            </div>
        </div>


        {# FREDAG #}

        <div class="subgrid subgrid-19">

            <div class="session timeslot-1930 friday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/farida">Farida</a></span>
                <span>Kvarteret // Teglverket</span>
        
            </div>

            <div class="session timeslot-1930 friday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/maud">Maud</a></span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-20">

            <div class="session timeslot-18 friday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/zueva">Zueva</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/salvador-dassi">Salvador Dassi</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/hill-bomb">Hill Bomb</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/judah-just-kidding">Judah Just Kidding</a></span>
                <span>Kvarteret // Teglverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/tentaien">Tentaien</a></span>
                <span>Rommet<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-21">

            <div class="session timeslot-18 friday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/j00">j00</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/lnua">LNUA</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/daman-shurek">Daman Shurek</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:15</h4>
                <span><a href="https://villvillvest.no/artister/hillari">HILLARI</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/marie-noreger">Marie Noreger</a></span>
                <span>Kvarteret // Teglverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:30</h4>
                <span><a href="hhttps://villvillvest.no/artister/bargee">Bargee</a></span>
                <span>Rommet<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/treverket">Treverket</a></span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:45</h4>
                <span><a href="https://villvillvest.no/artister/years-after">Years After</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>


        </div>

        <div class="subgrid subgrid-22">

            <div class="session timeslot-18 friday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/haider-raja">Haider Raja</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/naoko">Naoko</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/nix-the-nothings">Nix & the Nothings</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/ken-guru">Ken Guru</a></span>
                <span>Kvarteret // Teglverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/cherie-mwangi">Cherie Mwangi</a></span>
                <span>Rommet<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/ingrid-jasmin">Ingrid Jasmin</a></span>
                <span>Landmark<span>
        
            </div>


        </div>

        <div class="subgrid subgrid-23">

            <div class="session timeslot-18 friday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/8lanco">8lanco</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/nagaver">NAGAVER</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/hum">HÚM</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/g%C3%A6ste-gutter">Gæste Gutter</a></span>
                <span>Rommet<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/master-oogway-og-henriette-eilertsen">Master Oogway og Henriette Eilertsen</a></span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-00">

            {# <div class="session timeslot-18 friday">
                
                <h4>00:00</h4>
                <span><a href="https://villvillvest.no/artister/fochs-koshka">FOCHS KOSHKA</a></span>
                <span>Østre<span>
        
            </div> #}

        </div>


        {# SATURDAY #}

        <div class="subgrid-19">

            <div class="session timeslot-18 saturday">
                
                <h4>19:00</h4>
                <span><a href="https://villvillvest.no/artister/vepsestikk">Vepsestikk</a></span>
                <span>Kvarteret // Teglverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/goofy-geese">Goofy Geese</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>


        </div>

        <div class="subgrid-20">

            <div class="session timeslot-18 saturday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/d%C3%B8ssi">DØSSI</a></span>
                <span>Kvarteret // Teglverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/pavna">PAVNA</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/wrecobah">Wrecobah</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/rick-grove">Rick Grove</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

        </div>

        <div class="subgrid-21">

            <div class="session timeslot-18 saturday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/caja">CAJA</a></span>
                <span>Kvarteret // Teglverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/ne%C3%A9-pauline-ol-burger-beats">Neé Pauline & Ol' Burger Beats</a></span>
                <span>Kulturhuset 1.etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/arham">Arham</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/king-george-viii">King George VIII</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/sara-fjeldv%C3%A6r">Sara Fjeldvær</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/han-herman">Han Herman</a></span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid-22">

            <div class="session timeslot-18 saturday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/jeremy-troy">Jeremy Troy</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/snelle">Snelle</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/turbo">TURBO</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/casilian">Casilian</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/ayka">Ayka</a></span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid-23">

            <div class="session timeslot-18 saturday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/tribino">Tribino</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/fremo">Fremo </a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:00</h4>
                <span><a>Døgnfluer</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/yeisy-rojas">Yeisy Rojas</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/selma-french">Selma French</a></span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-00">

            <div class="session timeslot-18 saturday">
                
                <h4>00:00</h4>
                <span><a href="https://villvillvest.no/artister/sgurvin">SGurvin</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>00:00</h4>
                <span><a>Døgnfluer</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>00:30</h4>
                <span><a href="https://villvillvest.no/artister/benny-b">Benny_b</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>01:30</h4>
                <span><a href="https://villvillvest.no/artister/zaffer">Zaffer</a></span>
                <span>Østre<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-01">

            

        </div>

    </div>
    
</section>
    


{% endblock %}
