{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Program</h1>
    <p class="u-margin-bottom-2"><b>Her er programmet</b> </p>
    
    <div class="program">

        <div class="thursday"><h2>Thursday</h2></div>
        <div class="friday"><h2>Friday</h2></div>
        <div class="saturday"><h2>Saturday</h2></div>

        <div class="subgrid-19">
       
            <div class="session timeslot-18t thursday">
                
                <span>19:15</span>
                <span>XOXOPLANETGIRL</span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>19:30</span>
                <span>CCA JONAS</span>
                <span>Kulturhuset 1.etg</span>
        
            </div>

        </div>

        <div class="subgrid-20">

            <div class="session timeslot-18 thursday">
                
                <span>20:00</span>
                <span>PARIA</span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>20:00</span>
                <span>DRONGO</span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>20:30</span>
                <span>DUVET</span>
                <span>VICTORIA</span>
        
            </div>

        </div>

        <div class="subgrid-21">

            <div class="session timeslot-18 thursday">
                
                <span>21:00</span>
                <span>FROM SCRATCH</span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>21:00</span>
                <span>WENDRA HILL</span>
                <span>ØSTRA</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>21:15</span>
                <span>SWICHA ARTISTA</span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>21:30</span>
                <span>BEHARIE</span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>21:30</span>
                <span>THEA WANG</span>
                <span>Landmark</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>21:30</span>
                <span>VEPS</span>
                <span>VICTORIA</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>21:45</span>
                <span>DOGLOVER95</span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

        </div>

        <div class="subgrid-22">

            <div class="session timeslot-18 thursday">
                
                <span>22:00</span>
                <span>RUBEN DAWSON</span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>22:00</span>
                <span>PALMI</span>
                <span>Østre</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>22:30</span>
                <span>BÅRD BERG</span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>22:30</span>
                <span>WHY KAI</span>
                <span>Landmark</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>22:30</span>
                <span>FANGST</span>
                <span>VICTORIA</span>
        
            </div>

        </div>

        <div class="subgrid-23">

            <div class="session timeslot-18 thursday">
                
                <span>23:00</span>
                <span>PRINCE KANE</span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>23:00</span>
                <span>NOTHING PERSONAL</span>
                <span>ØSTRE</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>23:30</span>
                <span>GIDDYGANG</span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <span>23:30</span>
                <span>GABRIELA GARRUBO</span>
                <span>Landmark</span>
        
            </div>

        </div>


        {# FREDAG #}

        <div class="subgrid-19">

            <div class="session timeslot-18 friday">
                
                <span>19:30</span>
                <span>SID HART</span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>19:30</span>
                <span>STEFANOS YOWHANNES</span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

        </div>

        <div class="subgrid-20">

            <div class="session timeslot-18 friday">
                
                <span>20:00</span>
                <span>SOFILOUD</span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>20:00</span>
                <span>LINA LAMBERTZ</span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>20:30</span>
                <span>RESA SAFFA PARK</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>20:30</span>
                <span>ROHAT</span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>20:45</span>
                <span>BURNING KOALA</span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-21">

            <div class="session timeslot-18 friday">
                
                <span>21:00</span>
                <span>FALITO</span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:00</span>
                <span>FRVLDZ</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:15</span>
                <span>BRAINCHILD</span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:30</span>
                <span>NAADE</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:30</span>
                <span>MARK MUSHIVA</span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:30</span>
                <span>STOCKHAUS</span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:45</span>
                <span>STEPHANIE TURCOTTE</span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>21:45</span>
                <span>OF ALL THINGS</span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-22">

            <div class="session timeslot-18 friday">
                
                <span>22:00</span>
                <span>GUCCI CALIENTE</span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>22:00</span>
                <span>GUNERIUS OG VERDENSVEVEN</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>22:30</span>
                <span>RAMBOW</span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>22:30</span>
                <span>MARKRAME</span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>22:45</span>
                <span>KRYPTOGRAF</span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-23">

            <div class="session timeslot-18 friday">
                
                <span>23:00</span>
                <span>REBMOE</span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>23:00</span>
                <span>KOBE</span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>23:00</span>
                <span>ANGERMUND</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>23:30</span>
                <span>EMIL KÀRLSEN</span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <span>23:30</span>
                <span>MALSTRØM</span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid-00">

            <div class="session timeslot-18 friday">
                
                <span>00:00</span>
                <span>FOCHS KOSHKA</span>
                <span>Østre<span>
        
            </div>

        </div>


        {# SATURDAY #}

        <div class="subgrid-19">

            <div class="session timeslot-18 saturday">
                
                <span>19:30</span>
                <span>KARS</span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>19:30</span>
                <span>NO INCOME HOUSING</span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-20">

            <div class="session timeslot-18 saturday">
                
                <span>20:00</span>
                <span>DIA</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>20:00</span>
                <span>HOT NUNS</span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>20:00</span>
                <span>HAN GAIDEN</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>20:30</span>
                <span>PEGAH</span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>20:30</span>
                <span>MICHELLE ULLESTAD</span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-21">

            <div class="session timeslot-18 saturday">
                
                <span>21:00</span>
                <span>HENRIK HEAVEN</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:00</span>
                <span>SUNDROWNED</span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:00</span>
                <span>SPORT7000</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:15</span>
                <span>BABYLUCIFA</span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:30</span>
                <span>HANNAH STORM</span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:30</span>
                <span>SIGNE DØ</span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:30</span>
                <span>MADS CHRISTENSEN</span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>21:45</span>
                <span>ÆVESTADEN</span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

        </div>

        <div class="subgrid-22">

            <div class="session timeslot-18 saturday">
                
                <span>22:00</span>
                <span>WHAMMYBOY</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>22:00</span>
                <span>WRATH</span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>22:00</span>
                <span>TECHNOGUTT</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>22:30</span>
                <span>DARKOWA</span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>22:30</span>
                <span>SVENSKE TILSTANDER</span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid-23">

            <div class="session timeslot-18 saturday">
                
                <span>23:00</span>
                <span>GABIFUEGO</span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>23:00</span>
                <span>PHANTOM FIRE</span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>23:00</span>
                <span>KIM DÜRBECK</span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>23:30</span>
                <span>SKALLA</span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <span>23:30</span>
                <span>TIGERSTATE</span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid-00">

            <div class="session timeslot-18 saturday">
                
                <span>00:00</span>
                <span>DOUBLE DANCER</span>
                <span>Østre<span>
        
            </div>

        </div>

    </div>
    
</section>
    


{% endblock %}
