{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<h1 class="heading--section page-content u-margin-top-2 u-margin-bottom-2">
    <span class="u-color-accent">Artister</span> 2021
  </h1>
  <p class="paragraph page-content u-w-pc-70 u-padding-bottom-4">Hvert år kommer noen av de beste og mest talentfulle artistene til Vill Vill Vest. Klikk deg inn og finn en ny favoritt! Vi oppdaterer fortløpende med nye artister frem mot festivalen.</p>

  <section class="program-nav page-content u-padding-bottom-4">
    <a href="{{ url('artister/category/2021') }}" class="program-link">Artister</a>
    <a href="{{ url('program') }}" class="program-link">Program</a>
  </section>

<section class="page-content u-w-pc-70">
    <p class="u-margin-bottom-2">Se også fullt program og oversikt over alle aktiviteter i vår festivalapp. Last med for <a href="https://play.google.com/store/apps/details?id=com.greencopper.android.villvillvest"><b>android</b></a> og <a href="https://apps.apple.com/us/app/vill-vill-vest/id1266344059"><b>iphone</b></a></p>
    
    <div class="program u-margin-top-4">

        <div class="thursday"><h2>Thursday</h2></div>
        <div class="friday"><h2>Friday</h2></div>
        <div class="saturday"><h2>Saturday</h2></div>

        <div class="divider divider-19">
            <h3>19:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-20">
            <h3>20:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-21">
            <h3>21:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-22">
            <h3>22:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-23">
            <h3>23:00</h3>
            <hr></hr>
        </div>
        <div class="divider divider-00">
            <h3>00:00</h3>
            <hr></hr>
        </div>

        <div class="subgrid subgrid-19">
       
            <div class="session timeslot-1915 thursday">
                
                <h4>19:15</h4>
                <span><a href="https://villvillvest.no/artister/xoxoplanetgirl">XOXOPLANETGIRL</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-1930 thursday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/cca-jonas">CCA JONAS</a></span>
                <span>Kulturhuset 1.etg</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-20">

            <div class="session timeslot-20 thursday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/paria">PARIA</a></span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/drongo">DRONGO</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/duv%C3%A9t">DUVÉT</a></span>
                <span>VICTORIA</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-21">

            <div class="session timeslot-18 thursday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/from-scratch">FROM SCRATCH</a></span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/sysselmann">SYSSELMANN</a></span>
                <span>ØSTRE</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:15</h4>
                <span><a href="https://villvillvest.no/artister/swicha-artista">SWICHA ARTISTA</a></span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span>BEHARIE</span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/thea-wang">THEA WANG</a></span>
                <span>Landmark</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:30</h4>
                <span>VEPS</span>
                <span>VICTORIA</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>21:45</h4>
                <span><a href="https://villvillvest.no/artister/doglover95">DOGLOVER95</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-22">

            <div class="session timeslot-18 thursday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/ruben-dawnson">RUBEN DAWSON</a></span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/palmi">PALMI</a></span>
                <span>Østre</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/b%C3%A5rd-berg">BÅRD BERG</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/why-kai">WHY KAI</a></span>
                <span>Landmark</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/fangst">FANGST</a></span>
                <span>VICTORIA</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-23">

            <div class="session timeslot-18 thursday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/prince-kane">PRINCE KANE</a></span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/nothing-personal">NOTHING PERSONAL</a></span>
                <span>ØSTRE</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/giddygang">GIDDYGANG</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 thursday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/gabriela-garrubo">GABRIELA GARRUBO</a></span>
                <span>Landmark</span>
        
            </div>

        </div>

        <div class="subgrid-00">
            <div class="session timeslot-18 thursday">
                
                {# <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/gabriela-garrubo">blabla</a></span>
                <span>Landmark</span> #}
        
            </div>
        </div>


        {# FREDAG #}

        <div class="subgrid subgrid-19">

            <div class="session timeslot-1930 friday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/sid-hart">SID HART</a></span>
                <span>Kvarteret // Tegleverket</span>
        
            </div>

            <div class="session timeslot-1930 friday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/stefanos-yowhannes">STEFANOS YOWHANNES</a></span>
                <span>Kulturhuset 1. etg</span>
        
            </div>

        </div>

        <div class="subgrid subgrid-20">

            <div class="session timeslot-18 friday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/sofiloud">SOFILOUD</a></span>
                <span>Kvarteret // Tivoli</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/lina-lambertz">LINA LAMBERTZ</a></span>
                <span>Kulturhuset 2. etg</span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/burning-koala">BURNING KOALA</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/resa-saffa-park">RESA SAFFA PARK</a></span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>20:30</h4>
                <span>ROHAT</span>
                <span>Hulen<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-21">

            <div class="session timeslot-18 friday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/falito">FALITO</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/frvldz">FRVLDZ</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/of-all-things">OF ALL THINGS</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:15</h4>
                <span><a href="https://villvillvest.no/artister/brainchild">BRAINCHILD</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/naade">NAADE</a></span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/boy-made-flower">BOY MADE FLOWER</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/stockhaus">STOCKHAUS</a></span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>21:45</h4>
                <span><a href="https://villvillvest.no/artister/st%C3%A9phanie-turcotte">STEPHANIE TURCOTTE</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>


        </div>

        <div class="subgrid subgrid-22">

            <div class="session timeslot-18 friday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/gucci-caliente">GUCCI CALIENTE</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/gunerius-verdensveven">GUNERIUS OG VERDENSVEVEN</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/kryptograf">KRYPTOGRAF</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/rambow">RAMBOW</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/makram%C3%A9">MARKRAMÉ</a></span>
                <span>Landmark<span>
        
            </div>


        </div>

        <div class="subgrid subgrid-23">

            <div class="session timeslot-18 friday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/rebmoe">REBMOE</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/kobe">KOBE</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/angermund">ANGERMUND</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/emil-k%C3%A1rlsen">EMIL KÀRLSEN</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 friday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/malstr%C3%B8m">MALSTRØM</a></span>
                <span>Landmark<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-00">

            <div class="session timeslot-18 friday">
                
                <h4>00:00</h4>
                <span><a href="https://villvillvest.no/artister/fochs-koshka">FOCHS KOSHKA</a></span>
                <span>Østre<span>
        
            </div>

        </div>


        {# SATURDAY #}

        <div class="subgrid-19">

            <div class="session timeslot-18 saturday">
                
                <h4>19:30</h4>
                <span><a href="https://villvillvest.no/artister/kars">KARS</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>


        </div>

        <div class="subgrid-20">

            <div class="session timeslot-18 saturday">
                
                <h4>20:00</h4>
                <span>DIA</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/hot-nuns">HOT NUNS</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:00</h4>
                <span><a href="https://villvillvest.no/artister/han-gaiden">HAN GAIDEN</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/pegah">PEGAH</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>20:30</h4>
                <span><a href="https://villvillvest.no/artister/michelle-ullestad">MICHELLE ULLESTAD</a></span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-21">

            <div class="session timeslot-18 saturday">
                
                <h4>21:00</h4>
                <span>HENRIK HEAVEN</span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/sundrowned">SUNDROWNED</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:00</h4>
                <span><a href="https://villvillvest.no/artister/sport7000">SPORT7000</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:15</h4>
                <span><a href="https://villvillvest.no/artister/babylucifa">BABYLUCIFA</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/hannah-storm">HANNAH STORM</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/signe-d%C3%B8">SIGNE DØ</a></span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:30</h4>
                <span><a href="https://villvillvest.no/artister/no-income-housing">NO INCOME HOUSING</a></span>
                <span>Victoria<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>21:45</h4>
                <span><a href="https://villvillvest.no/artister/%C3%A6vestaden">ÆVESTADEN</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

        </div>

        <div class="subgrid-22">

            <div class="session timeslot-18 saturday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/whammyboy">WHAMMYBOY</a></span>
                <span>Kvarteret // Tegleverket<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/wrath">WRATH</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:00</h4>
                <span><a href="https://villvillvest.no/artister/technogutt">TECHNOGUTT</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/darkowa">DARKOWA</a></span>
                <span>Kvarteret // Tivoli<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/svenske-tilstander">SVENSKE TILSTANDER</a></span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>22:30</h4>
                <span><a href="https://villvillvest.no/artister/mads-christensen">MADS CHRISTENSEN<a></span>
                <span>Victoria<span>
        
            </div>

        </div>

        <div class="subgrid-23">

            <div class="session timeslot-18 saturday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/gabifuego">GABIFUEGO</a></span>
                <span>Kulturhuset 1. etg<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/phantom-fire">PHANTOM FIRE</a></span>
                <span>Hulen<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:00</h4>
                <span><a href="https://villvillvest.no/artister/kim-d%C3%BCrbeck">KIM DÜRBECK</a></span>
                <span>Østre<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>23:30</h4>
                <span><a href="https://villvillvest.no/artister/skalla">SKALLA</a></span>
                <span>Kulturhuset 2. etg<span>
        
            </div>

        </div>

        <div class="subgrid subgrid-00">

            <div class="session timeslot-18 saturday">
                
                <h4>00:00</h4>
                <span><a href="https://villvillvest.no/artister/tigerstate">TIGERSTATE</a></span>
                <span>Landmark<span>
        
            </div>

            <div class="session timeslot-18 saturday">
                
                <h4>00:00</h4>
                <span><a href="https://villvillvest.no/artister/double-dancer">DOUBLE DANCER</a></span>
                <span>Østre<span>
        
            </div>

        </div>

    </div>
    
</section>
    


{% endblock %}
