{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Scener og Kart</h1>
    <p class="u-margin-bottom-2">Scener og kart kommer her</p>
    
</section>
    


{% endblock %}
