{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Smittevern</h1>
    <h2 class="u-margin-bottom-2 u-margin-top-4">HURTIGTESTING OG SIKKERHET
    </h2>
    <p class="u-margin-bottom-2">For å delta på Vill Vill Vest 2021 må du vise frem <b>grønt koronasertifikat</b> eller <b>negativ covid-19 test</b> som er mindre enn 24 timer gammel. Dette viser du i billettboden når du henter ut festivalbåndet ditt. I Norge får du grønt koronasertifikat i din Helsenorge-app tre uker etter du har tatt første vaksinedose, eller hvis du har en ny negativ PCR test.</p>
    <p class="u-margin-bottom-2">
    EU-sertifisert koronasertifikat er også gyldig.
    </p>
    <p class="u-margin-bottom-2">
    Vi tilbyr <b>gratis hurtigtest</b> fra kl 09:00 hver dag. Husk å beregne noe ekstra tid for å få testresultatet. Dette tar rundt 30 minutter. Du må ta testen hver dag dersom du ikke har grønt koronasertifikat.
    </p>
    <p class="u-margin-bottom-2">
    <b>\\ ENG \\</b>
    </b>
    <p class="u-margin-bottom-2">
    To be able to attend Vill Vill Vest 2021, you will need a <b>green Covid certificate</b> or a <b>negative covid test</b> that is taken less than 24 hours prior getting your festival band.
    In Norway you will get a green Covid-19 certificate in your Helsenorge app three weeks after you had your first dose of the vaccine or if you have a recent negative PCR test.
    </p>
    <p class="u-margin-bottom-2">
    EU approved Covid certificates are also valid.
    </p>
    <p class="u-margin-bottom-2">
    We offer <b>Rapid testing free of charge</b> from 09:00 each day. Please make sure to allow some extra time for the testing process. You have to take the test all three days if you don't have a green Covid certificate. There are hospitality and restroom facilities in the testing area.
    </p>
    <h2 class="u-margin-top-4">SMITTEVERN</h2>
    <p class="u-margin-bottom-2">
        <ul class="u-list-indent">
            <li>Vi anbefaler alle å benytte munnbind på på festival og konferanse</li>
            <li>Hold avstand og vis hensyn til alle gjester og festivalarbeidere.</li>
            <li>Hvis du har symptomer på covid-19, eller føler deg syk, bli hjemme!</li>
        </ul>
    <p>
    <p class="u-margin-bottom-2 u-margin-top-2"><b>\\ ENG \\</b></p>
    <p class="u-margin-bottom-2">
        <ul class="u-list-indent">
            <li>We recommend that everyone wears a mask at the festival</li>
            <li>Keep your distance and show consideration to all guests and staff</li>
            <li>If you have any symptoms of covid or are not feeling well, stay home</li>
        </ul>
    <p>
    <h2 class="u-margin-top-4">ALKOHOLSERVERING</h2>
    <p class="u-margin-bottom-2">
    Alkohol serveres kun til bord, og bestilles med QR kode. Det er mulig å kjøpe alkohol på alle spillestedene, og alkohol kan kun konsumeres mens du sitter. Skal du danse må drikken bli stående!
    </p>
    <p class="u-margin-bottom-2"><b>\\ ENG \\</b></p>
    <p class="u-margin-bottom-2">Alcohol is only served at the tables. It is possible to buy alcohol in all of our venues. Alcohol can only be consumed while seated in these areas.</p>
    <p class="u-margin-bottom-2"><span class="u-italics">Vis hensyn, og kos deg masse</span><br>
    Hilsen Vill Vill Vest
</p>
    
</section>
    


{% endblock %}
