{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}

<section class="page-content u-w-pc-70">
    <h1 class="heading--section u-margin-bottom-2 u-margin-top-4">Smittevern</h1>
    <h2 class="u-margin-bottom-2 u-margin-top-4">HURTIGTESTING OG SIKKERHET
    </h2>
    <p class="u-margin-bottom-2">For å delta på Vill Vill Vest 2021 må du vise frem <b>grønt koronasertifikat</b> eller <b>negativ covid-19 test</b> som er mindre enn 24 timer gammel. Dette viser du i billettboden når du henter ut festivalbåndet ditt. I Norge får du grønt koronasertifikat i din Helsenorge-app tre uker etter du har tatt første vaksinedose, eller hvis du har en ny negativ PCR test.</p>
    <p class="u-margin-bottom-2">
    Det kan være lurt å laste ned Helse Norge-appen i forkant og logge inn der. Dette må gjøres med Bank-ID eller lignende første gang, deretter kan man aktivere enklere passord-innlogging.
    </p>
    <p class="u-margin-bottom-2">
    EU-sertifisert koronasertifikat er også gyldig.
    </p>

    <p class="u-margin-bottom-2">
    <b>Teststasjon: Hurtigtest steg for steg:</b>
        <ol class="u-list-indent u-margin-bottom-2">
            <li>Book din time gjennom vår booking løsning i god tid <a href="https://testcenter.internationalsos.com/vam?company_id=987654">[link]</a> Dersom du har problemer med bookingen, kan du ringe +4792250556. Hvis du skal booke flere timer av gangen, kan det være du må logge ut og inn igjen.</li> 
            <li>Møt ved teststasjon til avtalt tid (verken før eller senere)</li>
            <li>Finn frem QR kode fra booking, samt ID ved ankomst teststasjon – (det er mange som skal testes så det kan oppstå litt kø)</li>
            <li>Du vil motta en sms fra IntlSOSNOR ved negativt resultat ca 1 time, maks 2 timer etter test.
                <ul class="u-sub-list">
                    <li>a. Du vil da også få en SMS fra helsenorge og få ditt grønne koronapass.</li>
                </ul>
            </li>
            <li>Den enkleste måten å finne koronapasset er ved å laste ned helsenorge appen på din mobil, alternativt ved å logge inn på <a href="https://tjenester.helsenorge.no/">helsenorge.no.</a></li>
            <li>Dersom positiv test vil du bli kontaktet av oss og informert om videre forløp. Vi vil også varsle arrangør og kommunen.</li>
            
        </ol>
    </p>

    <p class="u-margin-bottom-2">
        Åpningstider for hurtigtesting på <a target="_blank" href="https://g.page/InsideRockCafe?share">Hinsides (Vaskerelven smauet)</a>:
        <ul class="u-list-indent u-margin-bottom-2">
            <li>Onsdag 08.09: 18:00 – 21:00</li> 
            <li>Torsdag 09.09: 08:00 – 09:00 og 17:00 – 18:00</li>
            <li>Fredag 10:09: 08:00 – 09:00 og 17:00 – 18:00</li>
            <li>Lørdag 11:09: 08:00 – 09:00 og 17:00 – 18:00</li>
        </ul>
    </p>
    <p class="u-margin-bottom-2">
    Husk å beregne noe ekstra tid for å få testresultatet. Dette tar rundt 30 minutter. Du må ta testen hver dag dersom du ikke har grønt koronasertifikat.
    </p>
    <p class="u-margin-bottom-2">
    <b>\\ ENG \\</b>
    </b>
    <p class="u-margin-bottom-2">
    To be able to attend Vill Vill Vest 2021, you will need a <b>green Covid certificate</b> or a <b>negative covid test</b> that is taken less than 24 hours prior getting your festival band.
    In Norway you will get a green Covid-19 certificate in your Helsenorge app three weeks after you had your first dose of the vaccine or if you have a recent negative PCR test.
    </p>
    <p class="u-margin-bottom-2">
    EU approved Covid certificates are also valid.
    </p>
    <p class="u-margin-bottom-2">
     Please make sure to allow some extra time for the testing process. You have to take the test all three days if you don't have a green Covid certificate. There are hospitality and restroom facilities in the testing area.
    </p>
    <p class="u-margin-bottom-2">
    <b>Rapid testing step by step:</b>
        <ol class="u-list-indent u-margin-bottom-2">
            <li>Book your slot here <a href="https://testcenter.internationalsos.com/vam?company_id=987654">[link]</a>  If you have any issues, call +4792250556. In order to book several appointments, you may have to log out and in again.</li> 
            <li>Meet at the test station at the agreed-upon time. Not before or after.</li>
            <li>Show your QR code from the booking, as well as ID when you arrive.</li>
            <li>You’ll reieve a text from IntlSOSNOR within 1 hour, maximum 2 hours after the test.
                <ul class="u-sub-list">
                    <li>a. You’ll also recieve a text from Helsenorge with your green pass.</li>
                </ul>
            </li>
            <li>Download the Helsenorge app, or access the pass on <a href="https://tjenester.helsenorge.no/">helsenorge.no.</a></li>
            <li>If you’ve tested positive, you will be contacted by International SOS. They will also alert Vill Vill Vest and the municipality.</li>
            
        </ol>
    </p>
    <p class="u-margin-bottom-2">
        Opening times for rapid Covid testing at <a target="_blank" href="https://g.page/InsideRockCafe?share">Hinsides (in Vaskerelven smauet)</a>:
        <ul class="u-list-indent u-margin-bottom-2">
            <li>Wednesday 08.09: 18:00 – 21:00</li> 
            <li>Thursday 09.09: 08:00 – 09:00 and 17:00 – 18:00</li>
            <li>Friday 10:09: 08:00 – 09:00 and 17:00 – 18:00</li>
            <li>Saturday 11:09: 08:00 – 09:00 and 17:00 – 18:00</li>
        </ul>
    </p>
    <h2 class="u-margin-top-4">SMITTEVERN</h2>
    <p class="u-margin-bottom-2">
        <ul class="u-list-indent">
            <li>Vi anbefaler alle å benytte munnbind på på festival og konferanse</li>
            <li>Hold avstand og vis hensyn til alle gjester og festivalarbeidere.</li>
            <li>Hvis du har symptomer på covid-19, eller føler deg syk, bli hjemme!</li>
        </ul>
    <p>
    <p class="u-margin-bottom-2 u-margin-top-2"><b>\\ ENG \\</b></p>
    <p class="u-margin-bottom-2">
        <ul class="u-list-indent">
            <li>We recommend that everyone wears a mask at the festival</li>
            <li>Keep your distance and show consideration to all guests and staff</li>
            <li>If you have any symptoms of covid or are not feeling well, stay home</li>
        </ul>
    <p>
    <h2 class="u-margin-top-4 u-margin-bottom-2">ALKOHOLSERVERING</h2>
    <p class="u-margin-bottom-2">
    Alkohol serveres kun til bord, og bestilles med QR kode. Det er mulig å kjøpe alkohol på alle spillestedene, og alkohol kan kun konsumeres mens du sitter. Skal du danse må drikken bli stående!
    </p>
    <p class="u-margin-bottom-2"><b>\\ ENG \\</b></p>
    <p class="u-margin-bottom-2">Alcohol is only served at the tables. It is possible to buy alcohol in all of our venues. Alcohol can only be consumed while seated in these areas.</p>
    <p class="u-margin-bottom-2"><span class="u-italics">Vis hensyn, og kos deg masse</span><br>
    Hilsen Vill Vill Vest
</p>
    
</section>
    


{% endblock %}
