{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}


<section class="page-content">

   <h1 class="heading--section u-margin-top-2 u-margin-bottom-4">
    <span class="u-color-accent">Ung </span>delegat
   </h1>

    {% for block in ungDelegat.textAndImage.all() %}
      <div class="u-w-pc-70 paragraph u-margin-bottom-4">
        {% if block.type == 'text' %}
          {{ block.text|nl2br }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </section> 

  <section class="u-margin-top-4 page-content">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSciP34vPBgIA3Rkh8D89YTF1d6BHcsa50yD2Os_3ciquI23Ug/viewform">LENKE TIL PÅMELDINGSSKJEMA</a>
  </section>
    

{% endblock %}