{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}


<section class="page-content">

   <h1 class="heading--section u-margin-top-2 u-padding-bottom-2">
    <span class="u-color-accent">Ung </span>delegat
   </h1>

    {% for block in ungDelegat.textAndImage.all() %}
      <div class="u-w-pc-70 paragraph u-margin-bottom-4">
        {% if block.type == 'text' %}
          {{ block.text|nl2br }}
        {% elseif block.type == 'image' %}
          {% for image in block.image.all() %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </section> 

  <section class="u-margin-top-4 page-content">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSciP34vPBgIA3Rkh8D89YTF1d6BHcsa50yD2Os_3ciquI23Ug/viewform">LENKE TIL PÅMELDINGSSKJEMA</a>
  </section>

  <section class="ung-delegat-program u-margin-top-4 page-content">
  <p class="u-padding-bottom-2"><b>Program:</b></p>
    <div class="ung-delegat-grid">
      <div class="ung-delegat-row"><p>11:00</p><p>Velkommen</p></div>
      <div class="ung-delegat-row"><p>11:30</p><p>Prosjektledelse med Ketil Hvindenbråten
</p></div>
      <div class="ung-delegat-row"><p>12:15</p><p>Markedsføring med Angelica Manke

</p></div>
      <div class="ung-delegat-row"><p>13:00</p><p>Pause</p></div>
      <div class="ung-delegat-row"><p>13:45</p><p>Grønn festivalproduksjon med Vekao

</p></div>
  <div class="ung-delegat-row"><p>14:30</p><p>Q&A: roller og muligheter i musikkbransjen
</p></div>
    </div>
  </section>

  <section class="u-margin-bottom-2 u-margin-top-4 page-content u-w-pc-70">
    <h2 class="u-margin-bottom-2 u-margin-top-2">Prosjektledelse</h2>
    <p class="u-margin-bottom-2">En godt gjennomført produksjon er avhengig av at man jobber sammen på en målrettet og effektiv måte. For å oppnå dette er man blant annet avhengig av å lykkes med å delegere og gi tilbakemelding, samt ansvarliggjøre og motivere seg selv og andre. Hvor mye kontroll skal man holde på og hvor mye frister, informasjon og avklaring er nødvendig? Til Ung delegat på Vill Vill Vest kommer Ketil Hvindebråten for å snakke mer om dette og gi gode tips til envellykket produksjonsledelse.</p>
    <p class="u-margin-bottom-2">Ketil Hvindenbråten<br>
    Ketil er utdannet og sertifisert coach fra The Coaches Training Institute. Han eier og driver av Kontrast Coaching som leverer tjenester innenfor organisasjonsutvikling, ledelse og motivasjon både til virksomheter i musikkbransjen og andre organisasjoner. I tillegg er han gründer av Mablis i Stavanger og Fredvikafestivalen i Gjøvik. Han har vært en del av lederteamet til Slottsfjell som produsent i ti år. Høsten 2018 startet Ketil Kanon Personell sammen med en gjeng andre festivalentusiaster. Selskapet har satt seg som mål å gjøre bemanning, rekruttering og organisering enklere og morsommere for arrangører. </p>
    <p class="u-margin-bottom-2">Som en erfaren festivalleder og foredragsholder har Ketil et bredt spekter av temaer for arrangører: Konseptutvikling, lederskap, offentlig og privat funding, anbudsarbeid, frivilligutvikling og arenaproduksjon. Han brenner også for å inspirere og utvikle fremtidens arrangørtalenter.</p>

    <h2 class="u-margin-bottom-2 u-margin-top-4">Markedsføring</h2>
    <p class="u-margin-bottom-2">Visste du at vi i gjennomsnitt scroller forbi over 90 meter med innhold hver dag? Det er like høyt som Frihetsgudinnen! Vi tar et dypdykk i hvordan vi kan nå frem med budskapet vårt i et hav av uendelig informasjon, hva vi bør tenke på når vi lager innhold til sosiale medier, og hvordan vi kommuniserer på nett på vegne av en merkevare.</p>
    <p class="u-margin-bottom-2">Angelica Manke er manager for bandet Finding Neo, og har siden 2017 jobbet i ulike deler av musikkbransjen, blant annet som konsertarrangør, fotograf, og prosjektleder. I tillegg tar hun en bachelor i digital markedsføring, og har lang erfaring med innholdsproduksjon og effektiv kommunikasjon i sosiale medier.</p>

    <h2 class="u-margin-bottom-2 u-margin-top-4">Grønn festival med VEKAO</h2>
    <p class="u-margin-bottom-2">Et arrangement legger fra seg et betydelig co2-fotavtrykk. Hvordan kan vi som arrangører unngå å slippe ut mer enn nødvendig uten at det går på bekostning av gode konsertopplevelse?</p>
    <p class="u-margin-bottom-2">VEKAO i Sogndal har valgt å følge retningslinjene til Grønn Festival og vil i denne presentasjonen snakke om ordningen og hvordan de klarte å gjennomføre alle tiltakene. Hva var vanskelig og hvordan var tilbakemeldingene fra samarbeidspartnere og hva sa artistene da de ikke fikk fly til festivalen? Dette og mer får du vite når Astrid og Anna tar podiet under Ung Delegat 2021. </p>
    <p class="u-margin-bottom-2">Anna Kolås Brun er student og har det siste året sittet som nestleder for Studenthuset Meieriet, der hun har arbeidet med planlegging og gjennomføring av kulturarrangementer. Hun har videre erfaring som artistvert, og har fra august 2021 startet arbeidet med planleggingen av VEKAO 2022.</p>
    <p class="u-margin-bottom-2">Astrid Johanne Eskeland har siden 2015 jobbet med kultur, musikk og drift på Studenthuset Meieriet. Siden 2020 har hun vært festivalsjef for VEKAO. Der hennes første festival ble gjennomført i april 2021. Det siste året har fokuset til festival vært miljø, og festivalen ble en godkjent Grønn Festival. Astrid er nå i gang med arbeidet inn mot festival våren 2022!</p>

    <h2 class="u-margin-bottom-2 u-margin-top-4">Q&A - veier inn i musikkbransjen</h2>
    <p class="u-margin-bottom-2">Hvordan fungerer egentlig musikkbransjen, og hvordan finner jeg frem i jungelen? Som fersk i musikkbransjen har en mange spørsmål, men å finne ut hvem en skal spørre er ikke så lett. I denne spørsmålsrunden kan du stille de brennende spørsmålene du har, om så det er hvordan du kan skaffe deg det første, viktige internshipet (og så sørge for at det blir en jobb ut av det), hvilke retninger og muligheter som finnes i bransjen og hvordan du kan komme deg dit.</p>
    <p class="u-margin-bottom-2">Camilla Christensen:<br>
    Camilla har jobbet i Standing Ovation siden 2018, og er bookingagent for Annie, KAMARA, SJUR og ur Monarch. Veien hennes inn i musikkbransjen startet gjennom studentkulturen i Bergen, hvor hun satt i styret for bl.a. Aktive Studenters Forening, Bergen Filmklubb og Kulturstyret.</p>
    <p class="u-margin-bottom-2">Aldin Duratovic:<br> 
    Opprinnelig bosnisk, oppvokst på Løvstakken. Startet i 2017 Duratovic Management hvor han signerte TJ DanSon og SALTI. Derifra fortsatte Duratovic å bygge på rosteren og signerte artistene CCA Jonas, Laurent, 8lanco, samt produsentene BBMario og Prettiboi. I 2019 startet han plateselskapet Get FAT. som nå har en utvidet distroavtale med Universal. I slutten av 2019 bestemte han og mentoren Geir Luedy at det var på tide å slå sammen kreftene, så han tok med seg rosteren og begynte å jobbe i MADE.
    </p>
    <p class="u-margin-bottom-2">Mariann Bjørnelv:<br> 
    Mariann er festivalsjef i Moldejazz og er utdannet innen både økonomi og musikk. Mariann er tidligere daglig leder på Folken i Stavanger, samt jobbet med en rekke festivaler, bla Mablis, Skral, Kadetten, Utopia og Vinjerock. Hun har vært styreleder for AKKS Stavanger og sitter nå som styreleder for Filmkraft Rogaland og Musikkfest Stavanger. 
    </p>
    <p class="u-margin-bottom-2">Malin Isabel Disco Guleng:<br>
    Malin startet i musikkbransjen allerede som 17-åring, og er i dag A&R i plateselskapet Diamond Club og booker konserter på Hulen. Som ung konsertarrangør har hun deltatt i flere produksjoner og jobbet med ulike prosjekter på festivaler som Borealis, Ferieklubben og Eggstockfestivalen.
</p>
</p>




  </section>
    

{% endblock %}