{% extends "_layout" %}

{% block content %}
{% include "_includes/header-dark" %}
{% include "_includes/nav" %}


<section class="page-content">

   <h1 class="heading--section u-margin-top-2 u-padding-bottom-2 u-w-pc-70">
    <span class="u-color-accent">Venues</span>
   </h1>

   <p class="u-margin-bottom-2 u-w-pc-70">
    Vill Vill Vest finner sted på flere av Bergens mest kjente og kjære scener. Vi samarbeider med alle spillestedene, og uten dem ville ikke Vill Vill Vest vært det vi er. Ta en titt på kartet under og klikk deg inn på de ulike scenen for å finne ut mer om dem.
</p>

    
  </section> 

 

  <section class="u-margin-bottom-2 u-margin-top-4 page-content">
    
    <div style="position:relative;height:0;padding-bottom:56.25%;min-height:449px;box-sizing:border-box;"><iframe src=https://maps.visitbergen.com/journey/b62c807e-f8e8-11eb-bda0-067ec0c7e8f4/default width="100%" height="100%" frameborder="0" style="border:1px #d5d5d5 solid;position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>



  </section>
    

{% endblock %}